
# <어느 시점에 얼만큼 어떤 재고를 입고해야하고 어느 기간동안 이를 유지해야할지>

그래서 결국에 어떤 목차가 되어야 맞는지는 잘 모르겠다! 이지만,
지금 진행할 content0 의 목차를 고민해보자면

### Content 0 : 기간 별, 지역별 상품 수요량 확인
#### 1. fc 월별 데이터 합치기(수요의 흐름을 보고싶은 것이기 때문에)
#### 2. fc 월별 데이터 중 지역별 재고 수요와 1%정도의 관련도 없어보이는 column 삭제하기
**칼럼 코드를 한국어로 잘 바꿔서 주석만 달아놓기**
#### 3. 날짜 별로 상품 수요량 확인하기 (시각화 하기)
#### 4. 지역 별로 상품 수요량 확인하기 (시각화 하기)
#### 5. FC 별로 지역별 수요량 확인하기

### Content1 : 다른 데이터 수집하기
분명 어느 정도 데이터 분석을 했고 주제 파악을 했다면 필요한 데이터가 어떤 것인지 확인될 것임.

### ContentN : Multi variable Regression 수행하기

In [84]:
import sys
import numpy as np
import pandas as pd
import seaborn as sns
import collections

### 1. csv 파일 df로 불러오기

In [73]:
fc3_df = pd.read_csv('C:/Users/mnju5/FC_3.csv',encoding ='utf-8')

C:\Users\mnju5\.conda\envs\testAI\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (16,17) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [74]:
fc3_df.head(3)

,CORP_ID,REF_ORD_NO,BKG_NO,BKG_TYP,BKG_DATE,BKG_TIME,SHPR_CD,INV_AMT,ITEM_SEQ,ITEM_CD,...,DLVSUBCLSFCD,INS_ID,INS_DATE,INS_TIME,POST_ZONE,SPLIT_EXEC_YN,SHPR_ADDR_1,SHPR_ADDR_2,CNEE_ADDR_1,CNEE_ADDR_2
0,KX007,2021030365922551,KX007210303370934,7,20210303,35510,90001302,22400.0,2,134265392,...,1,iNEXBatch,20210303,131425,3.0,N,세종특별자치시,NaN,서울특별시,서대문구
1,KX007,2021030365922951,KX007210303371080,7,20210303,35521,90001441,20900.0,1,4610261043_2,...,4,iNEXBatch,20210303,131425,50.0,N,경기도,광주시,경상남도,김해시
2,KX007,2021030365924361,KX007210303371081,7,20210303,35513,90001441,37900.0,1,4936599538_1,...,0,iNEXBatch,20210303,131425,53.0,N,경기도,광주시,경상남도,거제시

In [75]:
fc3_df.shape
#32개의 요소에 대한 309352-1 개의 정보

(309352, 32)

아래의 정보에 대해 조금의 설명을 달아보자면, Dtype 의 object는 문자열이라 생각하면 되고, 지금 SHPR_ADDR_2를 제외한 모든 COLUMN들이 30만개 이상의 NON-NULL임을 확인할 수 있다.

In [76]:
fc3_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 309352 entries, 0 to 309351
Data columns (total 32 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   CORP_ID             309352 non-null  object
 1   REF_ORD_NO          309352 non-null  object
 2   BKG_NO              309349 non-null  object
 3   BKG_TYP             309352 non-null  int64
 4   BKG_DATE            309352 non-null  int64
 5   BKG_TIME            309352 non-null  int64
 6   SHPR_CD             309352 non-null  int64
 7   INV_AMT             305414 non-null  float64
 8   ITEM_SEQ            309352 non-null  int64
 9   ITEM_CD             309352 non-null  object
 10  BRAND_NM            301758 non-null  object
 11  ITEM_QTY            309352 non-null  int64
 12  ITEM_AMT            306284 non-null  float64
 13  IF_YN               309352 non-null  object
 14  ORDER_CRT_DATETIME  301758 non-null  float64
 15  DLV_DV              309220 non-null  float64
 16  REF_ITEM_SEQ        309089 non-null  object
 17  ORDER_IDX           309352 non-null  object
 18  ORDER_YN            309352 non-null  object
 19  DLVPREARRBRANCD     309220 non-null  object
 20  DLVPREARREMPNICKNM  299842 non-null  object
 21  DLVCLSFCD           309220 non-null  object
 22  DLVSUBCLSFCD        309220 non-null  object
 23  INS_ID              309352 non-null  object
 24  INS_DATE            309352 non-null  int64
 25  INS_TIME            309352 non-null  int64
 26  POST_ZONE           309220 non-null  float64
 27  SPLIT_EXEC_YN       309352 non-null  object
 28  SHPR_ADDR_1         309352 non-null  object
 29  SHPR_ADDR_2         296328 non-null  object
 30  CNEE_ADDR_1         309350 non-null  object
 31  CNEE_ADDR_2         302385 non-null  object
dtypes: float64(5), int64(8), object(19)
memory usage: 75.5+ MB

- count : non-null인 데이터 건수
- mean : 전체 데이터의 평균값
- std : 표준편차
- min : 최솟값

In [77]:
fc3_df.describe()

,BKG_TYP,BKG_DATE,BKG_TIME,SHPR_CD,INV_AMT,ITEM_SEQ,ITEM_QTY,ITEM_AMT,ORDER_CRT_DATETIME,DLV_DV,INS_DATE,INS_TIME,POST_ZONE
count,309352.00000,3.093520e+05,309352.000000,3.093520e+05,3.054140e+05,309352.000000,309352.000000,3.062840e+05,3.017580e+05,309220.0,3.093520e+05,309352.000000,309220.000000
mean,7.00043,2.021032e+07,95035.831852,9.000141e+07,5.675440e+04,1.403576,2.030234,4.000405e+04,2.021032e+13,1.0,2.021032e+07,145352.291160,25.587055
std,0.02073,9.171140e+00,61630.865074,1.016592e+02,6.375390e+04,1.015545,294.231886,5.156776e+04,9.513625e+06,0.0,1.187998e+01,60230.814456,18.232241
min,7.00000,2.021030e+07,0.000000,9.000130e+07,0.000000e+00,1.000000,1.000000,0.000000e+00,2.021022e+13,1.0,2.021023e+07,4.000000,1.000000
25%,7.00000,2.021031e+07,42145.000000,9.000130e+07,1.990000e+04,1.000000,1.000000,1.335000e+04,2.021031e+13,1.0,2.021031e+07,104242.000000,10.000000
50%,7.00000,2.021032e+07,100004.000000,9.000134e+07,3.780000e+04,1.000000,1.000000,2.090000e+04,2.021032e+13,1.0,2.021032e+07,144244.000000,21.000000
75%,7.00000,2.021032e+07,133351.000000,9.000154e+07,7.160000e+04,1.000000,1.000000,4.380000e+04,2.021032e+13,1.0,2.021032e+07,201428.000000,42.000000
max,8.00000,2.021033e+07,235959.000000,9.000158e+07,4.760000e+06,35.000000,163200.000000,4.760000e+06,2.021033e+13,1.0,2.021041e+07,235637.000000,99.000000

### 2. 여러 fc 데이터 파일 하나로 합치기

In [78]:
fc4_df = pd.read_csv('C:/Users/mnju5/FC_4.csv')
fc5_df = pd.read_csv('C:/Users/mnju5/FC_5.csv')
fc6_df = pd.read_csv('C:/Users/mnju5/FC_6.csv')

C:\Users\mnju5\.conda\envs\testAI\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (16,17) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\Users\mnju5\.conda\envs\testAI\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (17) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

**3월달 품목별 수요량 정렬**

In [79]:
items_count = {}
for item in fc3_df['ITEM_CD']:
    if item in items_count:
        items_count[item] +=1
    else:
        items_count[item]=1

In [97]:
sorted_items_3 = sorted([(k,v) for k,v in items_count.items()], key=lambda items_count: -items_count[1])

In [98]:
sorted_items_3

[('4658408144_1', 9101),
 ('232155349_1', 6801),
 ('4905164407', 3403),
 ('5120727656_1', 3342),
 ('5584261925_1', 2684),
 ('5404706313', 2639),
 ('5184904828', 2573),
 ('4802177320_2', 2509),
 ('2475138283', 2482),
 ('598604962-3', 2451),
 ('4810960248-1', 2279),
 ('5569305322_7', 2110),
 ('4733964360_1', 2087),
 ('232155349_5', 2081),
 ('5569305322_2', 2077),
 ('414687646_1', 2036),
 ('5002901764_2', 1920),
 ('4658408144_10', 1859),
 ('598604962-1', 1823),
 ('5569305322_1', 1821),
 ('4825890857_1', 1782),
 ('4658408144_4', 1736),
 ('4884983927', 1633),
 ('5569305322_9', 1536),
 ('5002901764_1', 1526),
 ('657383604_1', 1516),
 ('4977419343_1', 1482),
 ('658479403', 1427),
 ('3667604580', 1381),
 ('3040297639-1', 1360),
 ('4571859898-1', 1359),
 ('5584460073_1', 1355),
 ('121174432_8', 1349),
 ('5161458796', 1322),
 ('5569305322_4', 1315),
 ('5521930034_2', 1311),
 ('598604962-4', 1268),
 ('4624382111_1', 1259),
 ('5569305322_8', 1258),
 ('438888608_1', 1221),
 ('4802177320_4', 1193),
 ('121174437_6', 1157),
 ('5187009879', 1140),
 ('4802177320_1', 1116),
 ('5502891636', 1093),
 ('4802214590_1', 1091),
 ('4802177320_9', 1066),
 ('5048342552', 1023),
 ('4802214590_8', 1015),
 ('4831819136_1', 1014),
 ('5311703602_1', 1008),
 ('5063060508_4', 1003),
 ('5404710422', 998),
 ('4802177320_7', 983),
 ('5511429772_99', 974),
 ('4810960248-2', 956),
 ('4802177320_5', 938),
 ('5569305322_11', 932),
 ('5569305322_10', 925),
 ('4588143524', 921),
 ('4802214590_5', 911),
 ('4573567912', 905),
 ('438888608_5', 892),
 ('4936599538_1', 888),
 ('5569305322_5', 874),
 ('5002901777_5', 869),
 ('4802214590_3', 860),
 ('4802214590_9', 843),
 ('2756258776_11', 841),
 ('4747306298_1', 824),
 ('5279251727_2', 817),
 ('4802214590_6', 814),
 ('5303419243_1', 814),
 ('4631307460', 811),
 ('138632647_2', 810),
 ('4955936872_1', 808),
 ('5524378664', 806),
 ('5059327828', 782),
 ('5433222557', 779),
 ('5300251024', 779),
 ('232155349_2', 762),
 ('235959832_1', 761),
 ('4694579619_1', 759),
 ('409789150_1', 756),
 ('3858391637_1', 756),
 ('5569305322_12', 750),
 ('4802214590_7', 743),
 ('4762674514', 742),
 ('4733964360_2', 740),
 ('5526940648_1', 736),
 ('5279251727_1', 736),
 ('309765531', 728),
 ('5526932257_3', 727),
 ('5450060354', 726),
 ('3858394546', 722),
 ('5511429772_21', 714),
 ('148222857_1', 712),
 ('138632647_3', 710),
 ('5564723084_1', 710),
 ('213352166_9', 708),
 ('4809156350', 703),
 ('4596992359', 702),
 ('2542069072_1', 697),
 ('712423592_1', 695),
 ('5569305322_6', 695),
 ('4571859898-2', 694),
 ('0001', 689),
 ('5526929358_4', 686),
 ('5511429772_6', 668),
 ('477613250', 656),
 ('2708027405-1', 656),
 ('5300477025_9', 646),
 ('477612946', 641),
 ('598604962-2', 630),
 ('148222857_2', 619),
 ('5582196058_1', 617),
 ('5370476670_1', 614),
 ('5526946484', 611),
 ('5550835784_6', 607),
 ('4802214590_2', 602),
 ('657383604_6', 600),
 ('5039782335_1', 593),
 ('161523952_5', 591),
 ('4175036505', 590),
 ('232155349_3', 586),
 ('5109058837-9', 585),
 ('5161418659_21', 578),
 ('4769046808', 576),
 ('4658408144_13', 570),
 ('4802214590_4', 566),
 ('5526925251_6', 563),
 ('4733964360_3', 556),
 ('5526925251_5', 554),
 ('5521930034', 543),
 ('4733964360_11', 543),
 ('5002901777_6', 541),
 ('4150565479_5', 540),
 ('4886668461_1', 540),
 ('4733964360_4', 534),
 ('4824061918_33', 532),
 ('4789343708_4', 532),
 ('4662225370_1', 526),
 ('4931297435', 524),
 ('4658408144_9', 524),
 ('272777305_3', 521),
 ('138632647_12', 520),
 ('3858391637_10', 517),
 ('4255350058', 517),
 ('5526940648_3', 516),
 ('147889427', 513),
 ('5426872253', 511),
 ('5554910239', 509),
 ('5526929358_3', 508),
 ('4825890857_4', 507),
 ('4255350056', 506),
 ('4750452569_1', 505),
 ('4571859898-3', 505),
 ('4824061918_2', 500),
 ('4824061918_3', 499),
 ('4824061918_4', 497),
 ('4802177320_3', 497),
 ('138632647_10', 494),
 ('4824061918_15', 494),
 ('100126', 492),
 ('5569305322_3', 491),
 ('4721294064_3', 490),
 ('4288442391_1', 489),
 ('4934869636_1', 489),
 ('5598725222_1', 489),
 ('4802177320_6', 484),
 ('5550835784_7', 481),
 ('4977419343_2', 476),
 ('5582204221_1', 476),
 ('138632647_1', 475),
 ('5240328576_24', 475),
 ('210491070_1', 470),
 ('4222498550', 469),
 ('563503533_1', 469),
 ('5581190774_2', 469),
 ('5581190774_1', 467),
 ('5582194298_1', 467),
 ('2525914023_2', 465),
 ('5299553826_1', 464),
 ('4802177320_8', 463),
 ('5161418659_25', 463),
 ('5102591063', 460),
 ('4884978039_1', 458),
 ('5311703602_2', 457),
 ('161523952_8', 455),
 ('5311703602_6', 454),
 ('5256729806', 447),
 ('4742636644_1', 442),
 ('5412235016_1', 435),
 ('5329225766_1', 434),
 ('4461512143', 428),
 ('2525914023_1', 427),
 ('657383604_3', 424),
 ('5511429772_12', 419),
 ('5511429772_4', 418),
 ('4733964360_9', 417),
 ('272777305_4', 415),
 ('4599506698-1', 415),
 ('5002901744_5', 414),
 ('4624382111_2', 409),
 ('5002901731_6', 409),
 ('4704270045_1', 407),
 ('100121', 407),
 ('657383604_2', 403),
 ('138632647_5', 402),
 ('4288442391_2', 402),
 ('5072929215', 400),
 ('5160536975', 397),
 ('5299553826_4', 397),
 ('5409991047', 395),
 ('4810960248-3', 395),
 ('4890221631_1', 394),
 ('100123', 390),
 ('5582197547_1', 388),
 ('5584453742_1', 388),
 ('5178619112_1', 387),
 ('2008650661', 386),
 ('4571859898-8', 382),
 ('5161418659_26', 382),
 ('4936599538_2', 380),
 ('4949655422', 378),
 ('5063060508_1', 378),
 ('5240328576_25', 376),
 ('4733964360_10', 375),
 ('5060589793', 374),
 ('5584460073_2', 372),
 ('5584453742_2', 372),
 ('5174410691', 371),
 ('4288442391_4', 369),
 ('4949649381', 368),
 ('121365917_3', 368),
 ('5526929358_6', 368),
 ('4658433412_6', 366),
 ('4824061918_25', 365),
 ('5002901731_8', 365),
 ('5261621142', 359),
 ('5584455639_1', 356),
 ('138632647_4', 352),
 ('5002901815_3', 348),
 ('4516245144', 348),
 ('5526911305_11', 347),
 ('121365917_4', 347),
 ('4658433412', 346),
 ('4578689260', 345),
 ('307594360', 344),
 ('429915183_3', 343),
 ('5463773670', 342),
 ('4571676711', 342),
 ('5315755113_1', 341),
 ('4824061918_22', 340),
 ('100130', 340),
 ('4884978039_5', 339),
 ('4824061918_24', 337),
 ('5582197547_2', 336),
 ('5299553826_6', 334),
 ('4824061918_17', 333),
 ('5511429772_3', 332),
 ('5564728235_1', 331),
 ('4824189340_6', 330),
 ('100167', 330),
 ('5120727656_2', 330),
 ('5060432814', 328),
 ('5002901815_2', 327),
 ('5511621997_1', 326),
 ('2002294297_1', 326),
 ('4624382111_3', 325),
 ('4789343708_3', 324),
 ('5059280933', 323),
 ('5114322185', 321),
 ('100127', 320),
 ('4824061918_31', 318),
 ('5071519367_1', 316),
 ('5524387318', 315),
 ('429915183_2', 313),
 ('5177927014', 313),
 ('655923010_1', 312),
 ('4824061918_13', 311),
 ('382422272_1', 311),
 ('3766203680', 311),
 ('4733964360_6', 307),
 ('4747306298_3', 307),
 ('429915183_1', 306),
 ('4353023727_1', 305),
 ('5109058837-10', 305),
 ('4824061918_26', 303),
 ('658389855', 301),
 ('475142362', 300),
 ('5511429772_2', 298),
 ('5511429772_11', 297),
 ('4927024859_7', 297),
 ('4977419343_6', 296),
 ('326506046', 296),
 ('4824061918_14', 295),
 ('4571859898-4', 293),
 ('5299553826_5', 292),
 ('4824061918_5', 290),
 ('100164', 290),
 ('4824061918_8', 286),
 ('5300477025_10', 285),
 ('4568271030_30', 284),
 ('5299553826_2', 284),
 ('4721294064', 282),
 ('4469421245_1', 281),
 ('5521930034_5', 281),
 ('4929464978_1', 280),
 ('5584449703_1', 280),
 ('5563421350_1', 280),
 ('5294687881_12', 279),
 ('5146144585', 278),
 ('5174698349_1', 278),
 ('5511429772_22', 278),
 ('232155349_4', 277),
 ('4861386623_5', 277),
 ('5161418659_22', 277),
 ('5161418659_23', 277),
 ('2194762776_70', 276),
 ('4824189340_7', 275),
 ('4746801371_2', 275),
 ('5511676005', 275),
 ('8809641652409', 274),
 ('4288442391_3', 270),
 ('138632647_11', 269),
 ('485871571_1', 269),
 ('217938162_21', 268),
 ('4733964360_5', 265),
 ('4824061918_29', 265),
 ('2049598779_2', 264),
 ('683576163_1', 264),
 ('228550165', 263),
 ('4603129952', 262),
 ('5481574137-1', 261),
 ('4568271030_31', 261),
 ('289856097', 259),
 ('4824189340_1', 259),
 ('4977419343_7', 258),
 ('2386325988', 256),
 ('4993599720_2', 256),
 ('5526925251_2', 255),
 ('5526940648_5', 255),
 ('4038408297_20', 254),
 ('161523952_4', 254),
 ('4929464978_2', 254),
 ('4648251814_1', 252),
 ('5059337541', 251),
 ('653076522_1', 250),
 ('4527899180_1', 250),
 ('5536425514_1', 249),
 ('5120727656_3', 249),
 ('4977419343_5', 247),
 ('5279251727_4', 246),
 ('4977567534_2', 245),
 ('4852610306', 245),
 ('591880424_1', 245),
 ('550517933_1', 245),
 ('4658433412_4', 244),
 ('5333266211', 244),
 ('5279251727_5', 244),
 ('2992064030', 242),
 ('5463933964', 242),
 ('5315755113_5', 241),
 ('4884978039_2', 240),
 ('5481574137-2', 239),
 ('5279261934_1', 239),
 ('5160221161_1', 238),
 ('657383604_4', 237),
 ('5311703602_7', 236),
 ('2049598779_1', 236),
 ('5165206911', 236),
 ('4886019132', 236),
 ('5582201263_1', 235),
 ('5579849211-2', 234),
 ('3858391637_2', 233),
 ('5440569289_1', 233),
 ('3916955987', 232),
 ('4954027767', 231),
 ('4861386623_7', 231),
 ('4746801371_1', 230),
 ('3040297639-4', 229),
 ('3645014076_1', 229),
 ('5511429772_20', 229),
 ('5006418080_1', 228),
 ('2349268991', 228),
 ('4824061918_10', 228),
 ('121174432_7', 228),
 ('310937345_22', 228),
 ('5377647727_4', 228),
 ('272777305_5', 226),
 ('2708027405-2', 226),
 ('138632647_8', 226),
 ('4461512143_2', 226),
 ('4704270045_4', 225),
 ('4824061918_12', 223),
 ('323809441_4', 223),
 ('4824189340_2', 223),
 ('273205138_4', 222),
 ('4824061918_34', 221),
 ('3589144820', 220),
 ('161520112_1', 220),
 ('4658433412_7', 220),
 ('4150207485_3', 218),
 ('5526932257_4', 218),
 ('346923445_8', 217),
 ('138632647_6', 217),
 ('4721294064_1', 217),
 ('4512239460_1', 215),
 ('5526940648_2', 215),
 ('4607921942_1', 215),
 ('5102599276', 215),
 ('4836262264_1', 215),
 ('5299553826_3', 214),
 ('5598725222_2', 213),
 ('4750452569_3', 212),
 ('2108751235_11', 212),
 ('5002869102', 211),
 ('5526911305_12', 211),
 ('666937964_1', 210),
 ('5584750559', 209),
 ('4916550406-2', 208),
 ('3232170442', 207),
 ('2708027405-3', 206),
 ('5174767996_1', 206),
 ('4852668660', 205),
 ('4469421245_3', 205),
 ('346923445_9', 203),
 ('5458544341', 203),
 ('5579849211-1', 203),
 ('2756258776_14', 202),
 ('4832888276_27', 201),
 ('100165', 200),
 ('4226856802_1', 200),
 ('5492344359', 200),
 ('5162066178', 200),
 ('5526929358_5', 200),
 ('5586028030', 200),
 ('20210521612_1', 200),
 ('121366825_8', 199),
 ('2073834271_1', 198),
 ('310937345_23', 198),
 ('5109058837-13', 198),
 ('4610261043_3', 197),
 ('741582411_4', 196),
 ('5261373376', 196),
 ('310937345_25', 195),
 ('5572125570_1', 195),
 ('4237727898', 194),
 ('4578909088', 194),
 ('8809566172464', 194),
 ('4596961513', 193),
 ('4852981762', 193),
 ('4610261043_2', 193),
 ('161523952_1', 193),
 ('473652953_30', 193),
 ('5451029631_1', 193),
 ('5410073801_1', 193),
 ('5004899381', 193),
 ('4884978039_6', 192),
 ('4607927213_1', 192),
 ('138632647_7', 192),
 ('677756200_2', 191),
 ('5584457113_1', 191),
 ('232147600', 189),
 ('4831819136', 189),
 ('5481682015', 189),
 ('5060359743', 189),
 ('5440573382_6', 189),
 ('5187227890', 188),
 ('5177968934', 188),
 ('5161915845', 188),
 ('5251882070_1', 187),
 ('4861386623_4', 187),
 ('4571859898-10', 187),
 ('4599506698-2', 187),
 ('5548721951', 187),
 ('2542060952', 186),
 ('4733964360_12', 186),
 ('4747306298_2', 186),
 ('5002901815_1', 185),
 ('5002869095', 185),
 ('5190791009', 185),
 ('4831819136_2', 185),
 ('4824061918_19', 184),
 ('4150565479_7', 184),
 ('2108751155_22', 184),
 ('5526925251_8', 184),
 ('677756200_4', 183),
 ('4568271030_21', 182),
 ('438882304', 181),
 ('4861386623_6', 181),
 ('5294687881_14', 181),
 ('639909638_1', 180),
 ('342786711', 180),
 ('17978357418', 180),
 ('4150207485_1', 179),
 ('4861386623_2', 179),
 ('5002206237', 179),
 ('2299569251', 179),
 ('5583653835', 179),
 ('5071695758', 178),
 ('2935066155-1', 178),
 ('5316462744_4', 178),
 ('5247351575_25', 178),
 ('5191203006_2', 177),
 ('4609081354_1', 176),
 ('5529272769', 176),
 ('5511634189', 175),
 ('5349410412_1', 175),
 ('4831944395_1', 175),
 ('5279261934_4', 175),
 ('5521930034_1', 174),
 ('372282409_1', 174),
 ('2073834271_3', 174),
 ('121174437_2', 174),
 ('5002901764_7', 174),
 ('3062434418', 173),
 ('5189334505', 173),
 ('5526921671_3', 173),
 ('4750452569_2', 173),
 ('4255350057', 172),
 ('5598725222_3', 172),
 ('304489410_1', 171),
 ('5174410693', 171),
 ('4733964360_8', 171),
 ('269016643', 170),
 ('4658408144_3', 169),
 ('4597001192', 169),
 ('5187136217', 169),
 ('5279261934_16', 169),
 ('161523952_16', 168),
 ('4824061918_16', 168),
 ('5429973508', 168),
 ('2647965570', 167),
 ('4880838420', 167),
 ('2049598779_3', 167),
 ('5161418659_24', 167),
 ('5536643991_1', 167),
 ('5150754717', 167),
 ('213352164', 165),
 ('4871466287', 165),
 ('5073158768', 165),
 ('4824061918_28', 164),
 ('5201488849', 163),
 ('4596969581', 163),
 ('5256700631', 163),
 ('609945746-2', 163),
 ('5536643991_2', 163),
 ('5329225766_3', 162),
 ('5002300373_5', 162),
 ('4548098900_1', 162),
 ('217938162_25', 162),
 ('5279261934_13', 162),
 ('4935540981_3', 161),
 ('273980189', 161),
 ('5411283162', 161),
 ('4935540981_1', 161),
 ('5165883261', 161),
 ('4416482930', 160),
 ('4663659658_5', 160),
 ('100156', 160),
 ('2049598779_4', 160),
 ('4825890857_2', 160),
 ('5594488673', 160),
 ('273205138_3', 159),
 ('4861386623_1', 159),
 ('5161917826', 159),
 ('2108751235_4', 158),
 ('5002901765_1', 158),
 ('5121269742_34', 157),
 ('4597019110', 157),
 ('5060020637', 157),
 ('5583846795_1', 157),
 ('4658408144', 157),
 ('8412247020017', 156),
 ('2012769996_1', 155),
 ('550518389', 155),
 ('4596980934', 154),
 ('609945746-1', 154),
 ('308108017_6', 154),
 ('4856076508_1', 154),
 ('477611452', 154),
 ('269018094', 153),
 ('4150565479_6', 153),
 ('129588584_2', 153),
 ('5440573382_4', 153),
 ('5002901744_6', 153),
 ('4988594231_2', 152),
 ('655923010_2', 152),
 ('4462417340_11', 152),
 ('2405353024_1', 152),
 ('4733964360_14', 152),
 ('2108751235_12', 152),
 ('5583846795_2', 152),
 ('304489410_3', 151),
 ('5146106676', 151),
 ('4832888276_28', 150),
 ('5102624996', 150),
 ('741582411_1', 150),
 ('161520112_4', 150),
 ('5002901731_7', 150),
 ('473652953_34', 149),
 ('647206289', 149),
 ('2108751155_21', 149),
 ('5240296255', 149),
 ('121174432_9', 149),
 ('5060525620', 148),
 ('5263032221', 148),
 ('5177946157', 147),
 ('4797902065', 147),
 ('4824061918_11', 147),
 ('4610261043_1', 147),
 ('4658408144_6', 147),
 ('4733964360_13', 147),
 ('684682148_2', 147),
 ('4871062189_1', 147),
 ('5109058837-11', 147),
 ('100119', 146),
 ('5542929139', 146),
 ('4943642550_3', 146),
 ('4916550406-1', 146),
 ('4350631940_1', 146),
 ('4934869636_4', 146),
 ('4949663265', 145),
 ('4927024859_5', 145),
 ('5096025878_1', 145),
 ('5538168543', 145),
 ('5410071620', 145),
 ('4733943898_1', 145),
 ('5540816358', 145),
 ('126998938_1', 144),
 ('129588584_3', 144),
 ('4596984914', 144),
 ('3858391637_12', 143),
 ('4959836191_1', 143),
 ('121174426_1', 143),
 ('138632647_9', 143),
 ('5189345654', 142),
 ('572635049_3', 142),
 ('217938162_23', 142),
 ('2992111856_1', 142),
 ('5564742620_1', 142),
 ('5445419413_999', 142),
 ('whole800002', 142),
 ('4955936872_6', 141),
 ('304489410_2', 141),
 ('5410093882', 141),
 ('129588584_1', 141),
 ('683553969', 141),
 ('4578690190', 141),
 ('4911278507_1', 141),
 ('5525829690_5', 141),
 ('8809528221117', 141),
 ('160635645', 140),
 ('269018455', 140),
 ('289851065', 140),
 ('2170322729', 140),
 ('677756200_3', 140),
 ('3858391637_6', 140),
 ('4658408144_11', 140),
 ('5002901731_13', 140),
 ('5186964223', 139),
 ('5189338430', 139),
 ('5121269742_32', 139),
 ('4742637459_3', 139),
 ('288314078', 139),
 ('5236312058', 139),
 ('394795820_2', 139),
 ('5582204221_3', 139),
 ('4226856802_2', 138),
 ('2108751155_23', 138),
 ('5146115002', 137),
 ('2108751155_20', 137),
 ('438888608_4', 137),
 ('5121269742_33', 137),
 ('5526940648_4', 137),
 ('5093981267', 137),
 ('5513683206', 137),
 ('5026881423', 137),
 ('4555804890_4', 136),
 ('2318325982_2', 136),
 ('161523952_6', 136),
 ('5002721456_4', 136),
 ('5121269742_31', 135),
 ('5526929333_1', 135),
 ('5279261934_9', 135),
 ('5187187844_1', 134),
 ('655923010_3', 134),
 ('5582193106_1', 134),
 ('shop0000984', 134),
 ('4955939850_1', 133),
 ('4802177320_10', 133),
 ('2935006439-1', 133),
 ('5507642317_2', 133),
 ('5146385446_12', 132),
 ('4859690883_2', 132),
 ('2382036135', 131),
 ('741582411_2', 131),
 ('5201511981', 130),
 ('5415364567_1', 130),
 ('4541482294', 130),
 ('5526911305_3', 129),
 ('4790583537_4', 129),
 ('5380512480', 129),
 ('4956250368_10', 129),
 ('2709663576', 129),
 ('5383403174', 129),
 ('5507642317_1', 129),
 ('4824061918_27', 128),
 ('4733964360_19', 128),
 ('138632647_13', 128),
 ('4599506698-3', 128),
 ('5238243980', 128),
 ('2876954237_37', 128),
 ('5576760857', 128),
 ('4977419343_9', 128),
 ('5247351575_24', 128),
 ('4836262264_5', 127),
 ('4624377372_1', 127),
 ('126824752', 127),
 ('5435101099_2', 127),
 ('5187182702_1', 127),
 ('3005263200_1', 127),
 ('5586363684_1', 127),
 ('8809566172105', 127),
 ('4930951213', 126),
 ('2541969341', 126),
 ('680232128_1', 126),
 ('160635645_1', 126),
 ('5314651511_1', 126),
 ('4721294064_5', 126),
 ('5539128105_5', 126),
 ('5279261934_11', 126),
 ('308108017_5', 125),
 ('4733964360_20', 125),
 ('4597012481', 125),
 ('4861386623_3', 125),
 ('5489138838_5', 125),
 ('4445307569_3', 124),
 ('639909638_2', 124),
 ('5199395081', 124),
 ('5492336210', 124),
 ('2233727299_1', 123),
 ('167623931', 123),
 ('5094023280', 123),
 ('310937345_21', 123),
 ('5104058856', 122),
 ('666380424', 122),
 ('4493931467_14', 122),
 ('691438017_2', 122),
 ('8809528221414', 122),
 ('5048060197', 121),
 ('5002901765_2', 121),
 ('292433397', 121),
 ('5474223791_1', 121),
 ('5564991972', 121),
 ('5529269906', 121),
 ('4661407817_1', 120),
 ('5184482581_1', 120),
 ('4498764575', 120),
 ('5277059142', 120),
 ('5564913157', 120),
 ('4943642550_1', 119),
 ('5020021755_2', 119),
 ('670280948_1', 119),
 ('5070909310_1', 119),
 ('5265434277', 119),
 ('4956250368_9', 118),
 ('4494428190', 118),
 ('5377647727_2', 118),
 ('5583846795_4', 118),
 ('4648251814_6', 117),
 ('5118445312', 117),
 ('4952974370', 117),
 ('161523952_12', 117),
 ('269018093', 117),
 ('5505568058', 117),
 ('161523952_7', 117),
 ('5279261934_3', 117),
 ('5377468751_4', 117),
 ('655260439_1', 116),
 ('288314073', 116),
 ('5505708296_2', 116),
 ('4733964360_7', 116),
 ('5225113858', 115),
 ('5121269742_49', 115),
 ('4789343708_2', 115),
 ('5553308120', 115),
 ('4663659658_2', 115),
 ('5254521593', 115),
 ('8809528221612', 115),
 ('2318325982_3', 114),
 ('5195138830', 114),
 ('shop0000995', 114),
 ('4827590636', 113),
 ('657383604_5', 113),
 ('4491995660', 113),
 ('5020021755_1', 113),
 ('655045121_3', 113),
 ('4943642550_4', 113),
 ('5582204221_2', 113),
 ('346923445_7', 112),
 ('5174715406', 112),
 ('4781045347_2', 112),
 ('712290198', 112),
 ('5002901788_3', 112),
 ('5050821366', 112),
 ('661422395_1', 112),
 ('shop0000866', 112),
 ('4571859898-9', 111),
 ('4736707465', 111),
 ('5002869126', 111),
 ('5146212149', 111),
 ('4758035156', 111),
 ('2073834271_2', 110),
 ('4494485344', 110),
 ('5201470183_1', 110),
 ('730406364', 110),
 ('323809441_3', 110),
 ('4328210141_8', 110),
 ('5489138838_6', 110),
 ('310937345_24', 110),
 ('5083019441', 110),
 ('5279261934_6', 110),
 ('5511442624', 110),
 ('304489410_4', 109),
 ('372285564', 109),
 ('4811533715', 109),
 ('5150527260', 109),
 ('5109058837-12', 109),
 ('4038425402_1', 108),
 ('4493931467_11', 108),
 ('4832693161-1', 108),
 ('4828782629', 108),
 ('body800001', 108),
 ('4883147496', 107),
 ('148221679', 107),
 ('3858391637_11', 107),
 ('4824061918_9', 107),
 ('4462417340_10', 107),
 ('4493931467_12', 107),
 ('3005263200_2', 107),
 ('161523952_13', 107),
 ('4789343708_1', 107),
 ('5294687881_15', 107),
 ('5539128105_8', 107),
 ('655260471_1', 106),
 ('5383403174_1', 106),
 ('4328210141_7', 106),
 ('2935066155-2', 106),
 ('2542069072_2', 106),
 ('269018095', 106),
 ('5214854729', 106),
 ('3916935832', 106),

In [100]:
item_fc3_df=pd.DataFrame(sorted_items_3)
item_fc3_df

                  0     1
0      4658408144_1  9101
1       232155349_1  6801
2        4905164407  3403
3      5120727656_1  3342
4      5584261925_1  2684
...             ...   ...
10064         A0938     1
10065         A1511     1
10066         A0722     1
10067         A1015     1
10068         A1510     1

[10069 rows x 2 columns]

In [119]:
item_fc3_df.head(50)

                0     1
0    4658408144_1  9101
1     232155349_1  6801
2      4905164407  3403
3    5120727656_1  3342
4    5584261925_1  2684
5      5404706313  2639
6      5184904828  2573
7    4802177320_2  2509
8      2475138283  2482
9     598604962-3  2451
10   4810960248-1  2279
11   5569305322_7  2110
12   4733964360_1  2087
13    232155349_5  2081
14   5569305322_2  2077
15    414687646_1  2036
16   5002901764_2  1920
17  4658408144_10  1859
18    598604962-1  1823
19   5569305322_1  1821
20   4825890857_1  1782
21   4658408144_4  1736
22     4884983927  1633
23   5569305322_9  1536
24   5002901764_1  1526
25    657383604_1  1516
26   4977419343_1  1482
27      658479403  1427
28     3667604580  1381
29   3040297639-1  1360
30   4571859898-1  1359
31   5584460073_1  1355
32    121174432_8  1349
33     5161458796  1322
34   5569305322_4  1315
35   5521930034_2  1311
36    598604962-4  1268
37   4624382111_1  1259
38   5569305322_8  1258
39    438888608_1  1221
40   4802177320_4  1193
41    121174437_6  1157
42     5187009879  1140
43   4802177320_1  1116
44     5502891636  1093
45   4802214590_1  1091
46   4802177320_9  1066
47     5048342552  1023
48   4802214590_8  1015
49   4831819136_1  1014

0이 품목 코드 1이 품목 개수

**4월달 품목별 수요량 정렬**

In [91]:
items_count = {}
for item in fc4_df['ITEM_CD']:
    if item in items_count:
        items_count[item] +=1
    else:
        items_count[item]=1

In [101]:
sorted_items_4 = sorted([(k,v) for k,v in items_count.items()], key=lambda items_count: -items_count[1])

In [102]:
sorted_items_4

[('4658408144_1', 9101),
 ('232155349_1', 6801),
 ('4905164407', 3403),
 ('5120727656_1', 3342),
 ('5584261925_1', 2684),
 ('5404706313', 2639),
 ('5184904828', 2573),
 ('4802177320_2', 2509),
 ('2475138283', 2482),
 ('598604962-3', 2451),
 ('4810960248-1', 2279),
 ('5569305322_7', 2110),
 ('4733964360_1', 2087),
 ('232155349_5', 2081),
 ('5569305322_2', 2077),
 ('414687646_1', 2036),
 ('5002901764_2', 1920),
 ('4658408144_10', 1859),
 ('598604962-1', 1823),
 ('5569305322_1', 1821),
 ('4825890857_1', 1782),
 ('4658408144_4', 1736),
 ('4884983927', 1633),
 ('5569305322_9', 1536),
 ('5002901764_1', 1526),
 ('657383604_1', 1516),
 ('4977419343_1', 1482),
 ('658479403', 1427),
 ('3667604580', 1381),
 ('3040297639-1', 1360),
 ('4571859898-1', 1359),
 ('5584460073_1', 1355),
 ('121174432_8', 1349),
 ('5161458796', 1322),
 ('5569305322_4', 1315),
 ('5521930034_2', 1311),
 ('598604962-4', 1268),
 ('4624382111_1', 1259),
 ('5569305322_8', 1258),
 ('438888608_1', 1221),
 ('4802177320_4', 1193),
 ('121174437_6', 1157),
 ('5187009879', 1140),
 ('4802177320_1', 1116),
 ('5502891636', 1093),
 ('4802214590_1', 1091),
 ('4802177320_9', 1066),
 ('5048342552', 1023),
 ('4802214590_8', 1015),
 ('4831819136_1', 1014),
 ('5311703602_1', 1008),
 ('5063060508_4', 1003),
 ('5404710422', 998),
 ('4802177320_7', 983),
 ('5511429772_99', 974),
 ('4810960248-2', 956),
 ('4802177320_5', 938),
 ('5569305322_11', 932),
 ('5569305322_10', 925),
 ('4588143524', 921),
 ('4802214590_5', 911),
 ('4573567912', 905),
 ('438888608_5', 892),
 ('4936599538_1', 888),
 ('5569305322_5', 874),
 ('5002901777_5', 869),
 ('4802214590_3', 860),
 ('4802214590_9', 843),
 ('2756258776_11', 841),
 ('4747306298_1', 824),
 ('5279251727_2', 817),
 ('4802214590_6', 814),
 ('5303419243_1', 814),
 ('4631307460', 811),
 ('138632647_2', 810),
 ('4955936872_1', 808),
 ('5524378664', 806),
 ('5059327828', 782),
 ('5433222557', 779),
 ('5300251024', 779),
 ('232155349_2', 762),
 ('235959832_1', 761),
 ('4694579619_1', 759),
 ('409789150_1', 756),
 ('3858391637_1', 756),
 ('5569305322_12', 750),
 ('4802214590_7', 743),
 ('4762674514', 742),
 ('4733964360_2', 740),
 ('5526940648_1', 736),
 ('5279251727_1', 736),
 ('309765531', 728),
 ('5526932257_3', 727),
 ('5450060354', 726),
 ('3858394546', 722),
 ('5511429772_21', 714),
 ('148222857_1', 712),
 ('138632647_3', 710),
 ('5564723084_1', 710),
 ('213352166_9', 708),
 ('4809156350', 703),
 ('4596992359', 702),
 ('2542069072_1', 697),
 ('712423592_1', 695),
 ('5569305322_6', 695),
 ('4571859898-2', 694),
 ('0001', 689),
 ('5526929358_4', 686),
 ('5511429772_6', 668),
 ('477613250', 656),
 ('2708027405-1', 656),
 ('5300477025_9', 646),
 ('477612946', 641),
 ('598604962-2', 630),
 ('148222857_2', 619),
 ('5582196058_1', 617),
 ('5370476670_1', 614),
 ('5526946484', 611),
 ('5550835784_6', 607),
 ('4802214590_2', 602),
 ('657383604_6', 600),
 ('5039782335_1', 593),
 ('161523952_5', 591),
 ('4175036505', 590),
 ('232155349_3', 586),
 ('5109058837-9', 585),
 ('5161418659_21', 578),
 ('4769046808', 576),
 ('4658408144_13', 570),
 ('4802214590_4', 566),
 ('5526925251_6', 563),
 ('4733964360_3', 556),
 ('5526925251_5', 554),
 ('5521930034', 543),
 ('4733964360_11', 543),
 ('5002901777_6', 541),
 ('4150565479_5', 540),
 ('4886668461_1', 540),
 ('4733964360_4', 534),
 ('4824061918_33', 532),
 ('4789343708_4', 532),
 ('4662225370_1', 526),
 ('4931297435', 524),
 ('4658408144_9', 524),
 ('272777305_3', 521),
 ('138632647_12', 520),
 ('3858391637_10', 517),
 ('4255350058', 517),
 ('5526940648_3', 516),
 ('147889427', 513),
 ('5426872253', 511),
 ('5554910239', 509),
 ('5526929358_3', 508),
 ('4825890857_4', 507),
 ('4255350056', 506),
 ('4750452569_1', 505),
 ('4571859898-3', 505),
 ('4824061918_2', 500),
 ('4824061918_3', 499),
 ('4824061918_4', 497),
 ('4802177320_3', 497),
 ('138632647_10', 494),
 ('4824061918_15', 494),
 ('100126', 492),
 ('5569305322_3', 491),
 ('4721294064_3', 490),
 ('4288442391_1', 489),
 ('4934869636_1', 489),
 ('5598725222_1', 489),
 ('4802177320_6', 484),
 ('5550835784_7', 481),
 ('4977419343_2', 476),
 ('5582204221_1', 476),
 ('138632647_1', 475),
 ('5240328576_24', 475),
 ('210491070_1', 470),
 ('4222498550', 469),
 ('563503533_1', 469),
 ('5581190774_2', 469),
 ('5581190774_1', 467),
 ('5582194298_1', 467),
 ('2525914023_2', 465),
 ('5299553826_1', 464),
 ('4802177320_8', 463),
 ('5161418659_25', 463),
 ('5102591063', 460),
 ('4884978039_1', 458),
 ('5311703602_2', 457),
 ('161523952_8', 455),
 ('5311703602_6', 454),
 ('5256729806', 447),
 ('4742636644_1', 442),
 ('5412235016_1', 435),
 ('5329225766_1', 434),
 ('4461512143', 428),
 ('2525914023_1', 427),
 ('657383604_3', 424),
 ('5511429772_12', 419),
 ('5511429772_4', 418),
 ('4733964360_9', 417),
 ('272777305_4', 415),
 ('4599506698-1', 415),
 ('5002901744_5', 414),
 ('4624382111_2', 409),
 ('5002901731_6', 409),
 ('4704270045_1', 407),
 ('100121', 407),
 ('657383604_2', 403),
 ('138632647_5', 402),
 ('4288442391_2', 402),
 ('5072929215', 400),
 ('5160536975', 397),
 ('5299553826_4', 397),
 ('5409991047', 395),
 ('4810960248-3', 395),
 ('4890221631_1', 394),
 ('100123', 390),
 ('5582197547_1', 388),
 ('5584453742_1', 388),
 ('5178619112_1', 387),
 ('2008650661', 386),
 ('4571859898-8', 382),
 ('5161418659_26', 382),
 ('4936599538_2', 380),
 ('4949655422', 378),
 ('5063060508_1', 378),
 ('5240328576_25', 376),
 ('4733964360_10', 375),
 ('5060589793', 374),
 ('5584460073_2', 372),
 ('5584453742_2', 372),
 ('5174410691', 371),
 ('4288442391_4', 369),
 ('4949649381', 368),
 ('121365917_3', 368),
 ('5526929358_6', 368),
 ('4658433412_6', 366),
 ('4824061918_25', 365),
 ('5002901731_8', 365),
 ('5261621142', 359),
 ('5584455639_1', 356),
 ('138632647_4', 352),
 ('5002901815_3', 348),
 ('4516245144', 348),
 ('5526911305_11', 347),
 ('121365917_4', 347),
 ('4658433412', 346),
 ('4578689260', 345),
 ('307594360', 344),
 ('429915183_3', 343),
 ('5463773670', 342),
 ('4571676711', 342),
 ('5315755113_1', 341),
 ('4824061918_22', 340),
 ('100130', 340),
 ('4884978039_5', 339),
 ('4824061918_24', 337),
 ('5582197547_2', 336),
 ('5299553826_6', 334),
 ('4824061918_17', 333),
 ('5511429772_3', 332),
 ('5564728235_1', 331),
 ('4824189340_6', 330),
 ('100167', 330),
 ('5120727656_2', 330),
 ('5060432814', 328),
 ('5002901815_2', 327),
 ('5511621997_1', 326),
 ('2002294297_1', 326),
 ('4624382111_3', 325),
 ('4789343708_3', 324),
 ('5059280933', 323),
 ('5114322185', 321),
 ('100127', 320),
 ('4824061918_31', 318),
 ('5071519367_1', 316),
 ('5524387318', 315),
 ('429915183_2', 313),
 ('5177927014', 313),
 ('655923010_1', 312),
 ('4824061918_13', 311),
 ('382422272_1', 311),
 ('3766203680', 311),
 ('4733964360_6', 307),
 ('4747306298_3', 307),
 ('429915183_1', 306),
 ('4353023727_1', 305),
 ('5109058837-10', 305),
 ('4824061918_26', 303),
 ('658389855', 301),
 ('475142362', 300),
 ('5511429772_2', 298),
 ('5511429772_11', 297),
 ('4927024859_7', 297),
 ('4977419343_6', 296),
 ('326506046', 296),
 ('4824061918_14', 295),
 ('4571859898-4', 293),
 ('5299553826_5', 292),
 ('4824061918_5', 290),
 ('100164', 290),
 ('4824061918_8', 286),
 ('5300477025_10', 285),
 ('4568271030_30', 284),
 ('5299553826_2', 284),
 ('4721294064', 282),
 ('4469421245_1', 281),
 ('5521930034_5', 281),
 ('4929464978_1', 280),
 ('5584449703_1', 280),
 ('5563421350_1', 280),
 ('5294687881_12', 279),
 ('5146144585', 278),
 ('5174698349_1', 278),
 ('5511429772_22', 278),
 ('232155349_4', 277),
 ('4861386623_5', 277),
 ('5161418659_22', 277),
 ('5161418659_23', 277),
 ('2194762776_70', 276),
 ('4824189340_7', 275),
 ('4746801371_2', 275),
 ('5511676005', 275),
 ('8809641652409', 274),
 ('4288442391_3', 270),
 ('138632647_11', 269),
 ('485871571_1', 269),
 ('217938162_21', 268),
 ('4733964360_5', 265),
 ('4824061918_29', 265),
 ('2049598779_2', 264),
 ('683576163_1', 264),
 ('228550165', 263),
 ('4603129952', 262),
 ('5481574137-1', 261),
 ('4568271030_31', 261),
 ('289856097', 259),
 ('4824189340_1', 259),
 ('4977419343_7', 258),
 ('2386325988', 256),
 ('4993599720_2', 256),
 ('5526925251_2', 255),
 ('5526940648_5', 255),
 ('4038408297_20', 254),
 ('161523952_4', 254),
 ('4929464978_2', 254),
 ('4648251814_1', 252),
 ('5059337541', 251),
 ('653076522_1', 250),
 ('4527899180_1', 250),
 ('5536425514_1', 249),
 ('5120727656_3', 249),
 ('4977419343_5', 247),
 ('5279251727_4', 246),
 ('4977567534_2', 245),
 ('4852610306', 245),
 ('591880424_1', 245),
 ('550517933_1', 245),
 ('4658433412_4', 244),
 ('5333266211', 244),
 ('5279251727_5', 244),
 ('2992064030', 242),
 ('5463933964', 242),
 ('5315755113_5', 241),
 ('4884978039_2', 240),
 ('5481574137-2', 239),
 ('5279261934_1', 239),
 ('5160221161_1', 238),
 ('657383604_4', 237),
 ('5311703602_7', 236),
 ('2049598779_1', 236),
 ('5165206911', 236),
 ('4886019132', 236),
 ('5582201263_1', 235),
 ('5579849211-2', 234),
 ('3858391637_2', 233),
 ('5440569289_1', 233),
 ('3916955987', 232),
 ('4954027767', 231),
 ('4861386623_7', 231),
 ('4746801371_1', 230),
 ('3040297639-4', 229),
 ('3645014076_1', 229),
 ('5511429772_20', 229),
 ('5006418080_1', 228),
 ('2349268991', 228),
 ('4824061918_10', 228),
 ('121174432_7', 228),
 ('310937345_22', 228),
 ('5377647727_4', 228),
 ('272777305_5', 226),
 ('2708027405-2', 226),
 ('138632647_8', 226),
 ('4461512143_2', 226),
 ('4704270045_4', 225),
 ('4824061918_12', 223),
 ('323809441_4', 223),
 ('4824189340_2', 223),
 ('273205138_4', 222),
 ('4824061918_34', 221),
 ('3589144820', 220),
 ('161520112_1', 220),
 ('4658433412_7', 220),
 ('4150207485_3', 218),
 ('5526932257_4', 218),
 ('346923445_8', 217),
 ('138632647_6', 217),
 ('4721294064_1', 217),
 ('4512239460_1', 215),
 ('5526940648_2', 215),
 ('4607921942_1', 215),
 ('5102599276', 215),
 ('4836262264_1', 215),
 ('5299553826_3', 214),
 ('5598725222_2', 213),
 ('4750452569_3', 212),
 ('2108751235_11', 212),
 ('5002869102', 211),
 ('5526911305_12', 211),
 ('666937964_1', 210),
 ('5584750559', 209),
 ('4916550406-2', 208),
 ('3232170442', 207),
 ('2708027405-3', 206),
 ('5174767996_1', 206),
 ('4852668660', 205),
 ('4469421245_3', 205),
 ('346923445_9', 203),
 ('5458544341', 203),
 ('5579849211-1', 203),
 ('2756258776_14', 202),
 ('4832888276_27', 201),
 ('100165', 200),
 ('4226856802_1', 200),
 ('5492344359', 200),
 ('5162066178', 200),
 ('5526929358_5', 200),
 ('5586028030', 200),
 ('20210521612_1', 200),
 ('121366825_8', 199),
 ('2073834271_1', 198),
 ('310937345_23', 198),
 ('5109058837-13', 198),
 ('4610261043_3', 197),
 ('741582411_4', 196),
 ('5261373376', 196),
 ('310937345_25', 195),
 ('5572125570_1', 195),
 ('4237727898', 194),
 ('4578909088', 194),
 ('8809566172464', 194),
 ('4596961513', 193),
 ('4852981762', 193),
 ('4610261043_2', 193),
 ('161523952_1', 193),
 ('473652953_30', 193),
 ('5451029631_1', 193),
 ('5410073801_1', 193),
 ('5004899381', 193),
 ('4884978039_6', 192),
 ('4607927213_1', 192),
 ('138632647_7', 192),
 ('677756200_2', 191),
 ('5584457113_1', 191),
 ('232147600', 189),
 ('4831819136', 189),
 ('5481682015', 189),
 ('5060359743', 189),
 ('5440573382_6', 189),
 ('5187227890', 188),
 ('5177968934', 188),
 ('5161915845', 188),
 ('5251882070_1', 187),
 ('4861386623_4', 187),
 ('4571859898-10', 187),
 ('4599506698-2', 187),
 ('5548721951', 187),
 ('2542060952', 186),
 ('4733964360_12', 186),
 ('4747306298_2', 186),
 ('5002901815_1', 185),
 ('5002869095', 185),
 ('5190791009', 185),
 ('4831819136_2', 185),
 ('4824061918_19', 184),
 ('4150565479_7', 184),
 ('2108751155_22', 184),
 ('5526925251_8', 184),
 ('677756200_4', 183),
 ('4568271030_21', 182),
 ('438882304', 181),
 ('4861386623_6', 181),
 ('5294687881_14', 181),
 ('639909638_1', 180),
 ('342786711', 180),
 ('17978357418', 180),
 ('4150207485_1', 179),
 ('4861386623_2', 179),
 ('5002206237', 179),
 ('2299569251', 179),
 ('5583653835', 179),
 ('5071695758', 178),
 ('2935066155-1', 178),
 ('5316462744_4', 178),
 ('5247351575_25', 178),
 ('5191203006_2', 177),
 ('4609081354_1', 176),
 ('5529272769', 176),
 ('5511634189', 175),
 ('5349410412_1', 175),
 ('4831944395_1', 175),
 ('5279261934_4', 175),
 ('5521930034_1', 174),
 ('372282409_1', 174),
 ('2073834271_3', 174),
 ('121174437_2', 174),
 ('5002901764_7', 174),
 ('3062434418', 173),
 ('5189334505', 173),
 ('5526921671_3', 173),
 ('4750452569_2', 173),
 ('4255350057', 172),
 ('5598725222_3', 172),
 ('304489410_1', 171),
 ('5174410693', 171),
 ('4733964360_8', 171),
 ('269016643', 170),
 ('4658408144_3', 169),
 ('4597001192', 169),
 ('5187136217', 169),
 ('5279261934_16', 169),
 ('161523952_16', 168),
 ('4824061918_16', 168),
 ('5429973508', 168),
 ('2647965570', 167),
 ('4880838420', 167),
 ('2049598779_3', 167),
 ('5161418659_24', 167),
 ('5536643991_1', 167),
 ('5150754717', 167),
 ('213352164', 165),
 ('4871466287', 165),
 ('5073158768', 165),
 ('4824061918_28', 164),
 ('5201488849', 163),
 ('4596969581', 163),
 ('5256700631', 163),
 ('609945746-2', 163),
 ('5536643991_2', 163),
 ('5329225766_3', 162),
 ('5002300373_5', 162),
 ('4548098900_1', 162),
 ('217938162_25', 162),
 ('5279261934_13', 162),
 ('4935540981_3', 161),
 ('273980189', 161),
 ('5411283162', 161),
 ('4935540981_1', 161),
 ('5165883261', 161),
 ('4416482930', 160),
 ('4663659658_5', 160),
 ('100156', 160),
 ('2049598779_4', 160),
 ('4825890857_2', 160),
 ('5594488673', 160),
 ('273205138_3', 159),
 ('4861386623_1', 159),
 ('5161917826', 159),
 ('2108751235_4', 158),
 ('5002901765_1', 158),
 ('5121269742_34', 157),
 ('4597019110', 157),
 ('5060020637', 157),
 ('5583846795_1', 157),
 ('4658408144', 157),
 ('8412247020017', 156),
 ('2012769996_1', 155),
 ('550518389', 155),
 ('4596980934', 154),
 ('609945746-1', 154),
 ('308108017_6', 154),
 ('4856076508_1', 154),
 ('477611452', 154),
 ('269018094', 153),
 ('4150565479_6', 153),
 ('129588584_2', 153),
 ('5440573382_4', 153),
 ('5002901744_6', 153),
 ('4988594231_2', 152),
 ('655923010_2', 152),
 ('4462417340_11', 152),
 ('2405353024_1', 152),
 ('4733964360_14', 152),
 ('2108751235_12', 152),
 ('5583846795_2', 152),
 ('304489410_3', 151),
 ('5146106676', 151),
 ('4832888276_28', 150),
 ('5102624996', 150),
 ('741582411_1', 150),
 ('161520112_4', 150),
 ('5002901731_7', 150),
 ('473652953_34', 149),
 ('647206289', 149),
 ('2108751155_21', 149),
 ('5240296255', 149),
 ('121174432_9', 149),
 ('5060525620', 148),
 ('5263032221', 148),
 ('5177946157', 147),
 ('4797902065', 147),
 ('4824061918_11', 147),
 ('4610261043_1', 147),
 ('4658408144_6', 147),
 ('4733964360_13', 147),
 ('684682148_2', 147),
 ('4871062189_1', 147),
 ('5109058837-11', 147),
 ('100119', 146),
 ('5542929139', 146),
 ('4943642550_3', 146),
 ('4916550406-1', 146),
 ('4350631940_1', 146),
 ('4934869636_4', 146),
 ('4949663265', 145),
 ('4927024859_5', 145),
 ('5096025878_1', 145),
 ('5538168543', 145),
 ('5410071620', 145),
 ('4733943898_1', 145),
 ('5540816358', 145),
 ('126998938_1', 144),
 ('129588584_3', 144),
 ('4596984914', 144),
 ('3858391637_12', 143),
 ('4959836191_1', 143),
 ('121174426_1', 143),
 ('138632647_9', 143),
 ('5189345654', 142),
 ('572635049_3', 142),
 ('217938162_23', 142),
 ('2992111856_1', 142),
 ('5564742620_1', 142),
 ('5445419413_999', 142),
 ('whole800002', 142),
 ('4955936872_6', 141),
 ('304489410_2', 141),
 ('5410093882', 141),
 ('129588584_1', 141),
 ('683553969', 141),
 ('4578690190', 141),
 ('4911278507_1', 141),
 ('5525829690_5', 141),
 ('8809528221117', 141),
 ('160635645', 140),
 ('269018455', 140),
 ('289851065', 140),
 ('2170322729', 140),
 ('677756200_3', 140),
 ('3858391637_6', 140),
 ('4658408144_11', 140),
 ('5002901731_13', 140),
 ('5186964223', 139),
 ('5189338430', 139),
 ('5121269742_32', 139),
 ('4742637459_3', 139),
 ('288314078', 139),
 ('5236312058', 139),
 ('394795820_2', 139),
 ('5582204221_3', 139),
 ('4226856802_2', 138),
 ('2108751155_23', 138),
 ('5146115002', 137),
 ('2108751155_20', 137),
 ('438888608_4', 137),
 ('5121269742_33', 137),
 ('5526940648_4', 137),
 ('5093981267', 137),
 ('5513683206', 137),
 ('5026881423', 137),
 ('4555804890_4', 136),
 ('2318325982_2', 136),
 ('161523952_6', 136),
 ('5002721456_4', 136),
 ('5121269742_31', 135),
 ('5526929333_1', 135),
 ('5279261934_9', 135),
 ('5187187844_1', 134),
 ('655923010_3', 134),
 ('5582193106_1', 134),
 ('shop0000984', 134),
 ('4955939850_1', 133),
 ('4802177320_10', 133),
 ('2935006439-1', 133),
 ('5507642317_2', 133),
 ('5146385446_12', 132),
 ('4859690883_2', 132),
 ('2382036135', 131),
 ('741582411_2', 131),
 ('5201511981', 130),
 ('5415364567_1', 130),
 ('4541482294', 130),
 ('5526911305_3', 129),
 ('4790583537_4', 129),
 ('5380512480', 129),
 ('4956250368_10', 129),
 ('2709663576', 129),
 ('5383403174', 129),
 ('5507642317_1', 129),
 ('4824061918_27', 128),
 ('4733964360_19', 128),
 ('138632647_13', 128),
 ('4599506698-3', 128),
 ('5238243980', 128),
 ('2876954237_37', 128),
 ('5576760857', 128),
 ('4977419343_9', 128),
 ('5247351575_24', 128),
 ('4836262264_5', 127),
 ('4624377372_1', 127),
 ('126824752', 127),
 ('5435101099_2', 127),
 ('5187182702_1', 127),
 ('3005263200_1', 127),
 ('5586363684_1', 127),
 ('8809566172105', 127),
 ('4930951213', 126),
 ('2541969341', 126),
 ('680232128_1', 126),
 ('160635645_1', 126),
 ('5314651511_1', 126),
 ('4721294064_5', 126),
 ('5539128105_5', 126),
 ('5279261934_11', 126),
 ('308108017_5', 125),
 ('4733964360_20', 125),
 ('4597012481', 125),
 ('4861386623_3', 125),
 ('5489138838_5', 125),
 ('4445307569_3', 124),
 ('639909638_2', 124),
 ('5199395081', 124),
 ('5492336210', 124),
 ('2233727299_1', 123),
 ('167623931', 123),
 ('5094023280', 123),
 ('310937345_21', 123),
 ('5104058856', 122),
 ('666380424', 122),
 ('4493931467_14', 122),
 ('691438017_2', 122),
 ('8809528221414', 122),
 ('5048060197', 121),
 ('5002901765_2', 121),
 ('292433397', 121),
 ('5474223791_1', 121),
 ('5564991972', 121),
 ('5529269906', 121),
 ('4661407817_1', 120),
 ('5184482581_1', 120),
 ('4498764575', 120),
 ('5277059142', 120),
 ('5564913157', 120),
 ('4943642550_1', 119),
 ('5020021755_2', 119),
 ('670280948_1', 119),
 ('5070909310_1', 119),
 ('5265434277', 119),
 ('4956250368_9', 118),
 ('4494428190', 118),
 ('5377647727_2', 118),
 ('5583846795_4', 118),
 ('4648251814_6', 117),
 ('5118445312', 117),
 ('4952974370', 117),
 ('161523952_12', 117),
 ('269018093', 117),
 ('5505568058', 117),
 ('161523952_7', 117),
 ('5279261934_3', 117),
 ('5377468751_4', 117),
 ('655260439_1', 116),
 ('288314073', 116),
 ('5505708296_2', 116),
 ('4733964360_7', 116),
 ('5225113858', 115),
 ('5121269742_49', 115),
 ('4789343708_2', 115),
 ('5553308120', 115),
 ('4663659658_2', 115),
 ('5254521593', 115),
 ('8809528221612', 115),
 ('2318325982_3', 114),
 ('5195138830', 114),
 ('shop0000995', 114),
 ('4827590636', 113),
 ('657383604_5', 113),
 ('4491995660', 113),
 ('5020021755_1', 113),
 ('655045121_3', 113),
 ('4943642550_4', 113),
 ('5582204221_2', 113),
 ('346923445_7', 112),
 ('5174715406', 112),
 ('4781045347_2', 112),
 ('712290198', 112),
 ('5002901788_3', 112),
 ('5050821366', 112),
 ('661422395_1', 112),
 ('shop0000866', 112),
 ('4571859898-9', 111),
 ('4736707465', 111),
 ('5002869126', 111),
 ('5146212149', 111),
 ('4758035156', 111),
 ('2073834271_2', 110),
 ('4494485344', 110),
 ('5201470183_1', 110),
 ('730406364', 110),
 ('323809441_3', 110),
 ('4328210141_8', 110),
 ('5489138838_6', 110),
 ('310937345_24', 110),
 ('5083019441', 110),
 ('5279261934_6', 110),
 ('5511442624', 110),
 ('304489410_4', 109),
 ('372285564', 109),
 ('4811533715', 109),
 ('5150527260', 109),
 ('5109058837-12', 109),
 ('4038425402_1', 108),
 ('4493931467_11', 108),
 ('4832693161-1', 108),
 ('4828782629', 108),
 ('body800001', 108),
 ('4883147496', 107),
 ('148221679', 107),
 ('3858391637_11', 107),
 ('4824061918_9', 107),
 ('4462417340_10', 107),
 ('4493931467_12', 107),
 ('3005263200_2', 107),
 ('161523952_13', 107),
 ('4789343708_1', 107),
 ('5294687881_15', 107),
 ('5539128105_8', 107),
 ('655260471_1', 106),
 ('5383403174_1', 106),
 ('4328210141_7', 106),
 ('2935066155-2', 106),
 ('2542069072_2', 106),
 ('269018095', 106),
 ('5214854729', 106),
 ('3916935832', 106),

In [103]:
item_fc4_df=pd.DataFrame(sorted_items_4)
item_fc4_df

                  0     1
0      4658408144_1  9101
1       232155349_1  6801
2        4905164407  3403
3      5120727656_1  3342
4      5584261925_1  2684
...             ...   ...
10064         A0938     1
10065         A1511     1
10066         A0722     1
10067         A1015     1
10068         A1510     1

[10069 rows x 2 columns]

In [120]:
item_fc4_df.head(50)

                0     1
0    4658408144_1  9101
1     232155349_1  6801
2      4905164407  3403
3    5120727656_1  3342
4    5584261925_1  2684
5      5404706313  2639
6      5184904828  2573
7    4802177320_2  2509
8      2475138283  2482
9     598604962-3  2451
10   4810960248-1  2279
11   5569305322_7  2110
12   4733964360_1  2087
13    232155349_5  2081
14   5569305322_2  2077
15    414687646_1  2036
16   5002901764_2  1920
17  4658408144_10  1859
18    598604962-1  1823
19   5569305322_1  1821
20   4825890857_1  1782
21   4658408144_4  1736
22     4884983927  1633
23   5569305322_9  1536
24   5002901764_1  1526
25    657383604_1  1516
26   4977419343_1  1482
27      658479403  1427
28     3667604580  1381
29   3040297639-1  1360
30   4571859898-1  1359
31   5584460073_1  1355
32    121174432_8  1349
33     5161458796  1322
34   5569305322_4  1315
35   5521930034_2  1311
36    598604962-4  1268
37   4624382111_1  1259
38   5569305322_8  1258
39    438888608_1  1221
40   4802177320_4  1193
41    121174437_6  1157
42     5187009879  1140
43   4802177320_1  1116
44     5502891636  1093
45   4802214590_1  1091
46   4802177320_9  1066
47     5048342552  1023
48   4802214590_8  1015
49   4831819136_1  1014

**5월달 품목별 수요량 정렬**

In [108]:
items_count = {}
for item in fc5_df['ITEM_CD']:
    if item in items_count:
        items_count[item] +=1
    else:
        items_count[item]=1

In [109]:
sorted_items_5 = sorted([(k,v) for k,v in items_count.items()], key=lambda items_count: -items_count[1])

In [110]:
sorted_items_5

[('4658408144_1', 9101),
 ('232155349_1', 6801),
 ('4905164407', 3403),
 ('5120727656_1', 3342),
 ('5584261925_1', 2684),
 ('5404706313', 2639),
 ('5184904828', 2573),
 ('4802177320_2', 2509),
 ('2475138283', 2482),
 ('598604962-3', 2451),
 ('4810960248-1', 2279),
 ('5569305322_7', 2110),
 ('4733964360_1', 2087),
 ('232155349_5', 2081),
 ('5569305322_2', 2077),
 ('414687646_1', 2036),
 ('5002901764_2', 1920),
 ('4658408144_10', 1859),
 ('598604962-1', 1823),
 ('5569305322_1', 1821),
 ('4825890857_1', 1782),
 ('4658408144_4', 1736),
 ('4884983927', 1633),
 ('5569305322_9', 1536),
 ('5002901764_1', 1526),
 ('657383604_1', 1516),
 ('4977419343_1', 1482),
 ('658479403', 1427),
 ('3667604580', 1381),
 ('3040297639-1', 1360),
 ('4571859898-1', 1359),
 ('5584460073_1', 1355),
 ('121174432_8', 1349),
 ('5161458796', 1322),
 ('5569305322_4', 1315),
 ('5521930034_2', 1311),
 ('598604962-4', 1268),
 ('4624382111_1', 1259),
 ('5569305322_8', 1258),
 ('438888608_1', 1221),
 ('4802177320_4', 1193),
 ('121174437_6', 1157),
 ('5187009879', 1140),
 ('4802177320_1', 1116),
 ('5502891636', 1093),
 ('4802214590_1', 1091),
 ('4802177320_9', 1066),
 ('5048342552', 1023),
 ('4802214590_8', 1015),
 ('4831819136_1', 1014),
 ('5311703602_1', 1008),
 ('5063060508_4', 1003),
 ('5404710422', 998),
 ('4802177320_7', 983),
 ('5511429772_99', 974),
 ('4810960248-2', 956),
 ('4802177320_5', 938),
 ('5569305322_11', 932),
 ('5569305322_10', 925),
 ('4588143524', 921),
 ('4802214590_5', 911),
 ('4573567912', 905),
 ('438888608_5', 892),
 ('4936599538_1', 888),
 ('5569305322_5', 874),
 ('5002901777_5', 869),
 ('4802214590_3', 860),
 ('4802214590_9', 843),
 ('2756258776_11', 841),
 ('4747306298_1', 824),
 ('5279251727_2', 817),
 ('4802214590_6', 814),
 ('5303419243_1', 814),
 ('4631307460', 811),
 ('138632647_2', 810),
 ('4955936872_1', 808),
 ('5524378664', 806),
 ('5059327828', 782),
 ('5433222557', 779),
 ('5300251024', 779),
 ('232155349_2', 762),
 ('235959832_1', 761),
 ('4694579619_1', 759),
 ('409789150_1', 756),
 ('3858391637_1', 756),
 ('5569305322_12', 750),
 ('4802214590_7', 743),
 ('4762674514', 742),
 ('4733964360_2', 740),
 ('5526940648_1', 736),
 ('5279251727_1', 736),
 ('309765531', 728),
 ('5526932257_3', 727),
 ('5450060354', 726),
 ('3858394546', 722),
 ('5511429772_21', 714),
 ('148222857_1', 712),
 ('138632647_3', 710),
 ('5564723084_1', 710),
 ('213352166_9', 708),
 ('4809156350', 703),
 ('4596992359', 702),
 ('2542069072_1', 697),
 ('712423592_1', 695),
 ('5569305322_6', 695),
 ('4571859898-2', 694),
 ('0001', 689),
 ('5526929358_4', 686),
 ('5511429772_6', 668),
 ('477613250', 656),
 ('2708027405-1', 656),
 ('5300477025_9', 646),
 ('477612946', 641),
 ('598604962-2', 630),
 ('148222857_2', 619),
 ('5582196058_1', 617),
 ('5370476670_1', 614),
 ('5526946484', 611),
 ('5550835784_6', 607),
 ('4802214590_2', 602),
 ('657383604_6', 600),
 ('5039782335_1', 593),
 ('161523952_5', 591),
 ('4175036505', 590),
 ('232155349_3', 586),
 ('5109058837-9', 585),
 ('5161418659_21', 578),
 ('4769046808', 576),
 ('4658408144_13', 570),
 ('4802214590_4', 566),
 ('5526925251_6', 563),
 ('4733964360_3', 556),
 ('5526925251_5', 554),
 ('5521930034', 543),
 ('4733964360_11', 543),
 ('5002901777_6', 541),
 ('4150565479_5', 540),
 ('4886668461_1', 540),
 ('4733964360_4', 534),
 ('4824061918_33', 532),
 ('4789343708_4', 532),
 ('4662225370_1', 526),
 ('4931297435', 524),
 ('4658408144_9', 524),
 ('272777305_3', 521),
 ('138632647_12', 520),
 ('3858391637_10', 517),
 ('4255350058', 517),
 ('5526940648_3', 516),
 ('147889427', 513),
 ('5426872253', 511),
 ('5554910239', 509),
 ('5526929358_3', 508),
 ('4825890857_4', 507),
 ('4255350056', 506),
 ('4750452569_1', 505),
 ('4571859898-3', 505),
 ('4824061918_2', 500),
 ('4824061918_3', 499),
 ('4824061918_4', 497),
 ('4802177320_3', 497),
 ('138632647_10', 494),
 ('4824061918_15', 494),
 ('100126', 492),
 ('5569305322_3', 491),
 ('4721294064_3', 490),
 ('4288442391_1', 489),
 ('4934869636_1', 489),
 ('5598725222_1', 489),
 ('4802177320_6', 484),
 ('5550835784_7', 481),
 ('4977419343_2', 476),
 ('5582204221_1', 476),
 ('138632647_1', 475),
 ('5240328576_24', 475),
 ('210491070_1', 470),
 ('4222498550', 469),
 ('563503533_1', 469),
 ('5581190774_2', 469),
 ('5581190774_1', 467),
 ('5582194298_1', 467),
 ('2525914023_2', 465),
 ('5299553826_1', 464),
 ('4802177320_8', 463),
 ('5161418659_25', 463),
 ('5102591063', 460),
 ('4884978039_1', 458),
 ('5311703602_2', 457),
 ('161523952_8', 455),
 ('5311703602_6', 454),
 ('5256729806', 447),
 ('4742636644_1', 442),
 ('5412235016_1', 435),
 ('5329225766_1', 434),
 ('4461512143', 428),
 ('2525914023_1', 427),
 ('657383604_3', 424),
 ('5511429772_12', 419),
 ('5511429772_4', 418),
 ('4733964360_9', 417),
 ('272777305_4', 415),
 ('4599506698-1', 415),
 ('5002901744_5', 414),
 ('4624382111_2', 409),
 ('5002901731_6', 409),
 ('4704270045_1', 407),
 ('100121', 407),
 ('657383604_2', 403),
 ('138632647_5', 402),
 ('4288442391_2', 402),
 ('5072929215', 400),
 ('5160536975', 397),
 ('5299553826_4', 397),
 ('5409991047', 395),
 ('4810960248-3', 395),
 ('4890221631_1', 394),
 ('100123', 390),
 ('5582197547_1', 388),
 ('5584453742_1', 388),
 ('5178619112_1', 387),
 ('2008650661', 386),
 ('4571859898-8', 382),
 ('5161418659_26', 382),
 ('4936599538_2', 380),
 ('4949655422', 378),
 ('5063060508_1', 378),
 ('5240328576_25', 376),
 ('4733964360_10', 375),
 ('5060589793', 374),
 ('5584460073_2', 372),
 ('5584453742_2', 372),
 ('5174410691', 371),
 ('4288442391_4', 369),
 ('4949649381', 368),
 ('121365917_3', 368),
 ('5526929358_6', 368),
 ('4658433412_6', 366),
 ('4824061918_25', 365),
 ('5002901731_8', 365),
 ('5261621142', 359),
 ('5584455639_1', 356),
 ('138632647_4', 352),
 ('5002901815_3', 348),
 ('4516245144', 348),
 ('5526911305_11', 347),
 ('121365917_4', 347),
 ('4658433412', 346),
 ('4578689260', 345),
 ('307594360', 344),
 ('429915183_3', 343),
 ('5463773670', 342),
 ('4571676711', 342),
 ('5315755113_1', 341),
 ('4824061918_22', 340),
 ('100130', 340),
 ('4884978039_5', 339),
 ('4824061918_24', 337),
 ('5582197547_2', 336),
 ('5299553826_6', 334),
 ('4824061918_17', 333),
 ('5511429772_3', 332),
 ('5564728235_1', 331),
 ('4824189340_6', 330),
 ('100167', 330),
 ('5120727656_2', 330),
 ('5060432814', 328),
 ('5002901815_2', 327),
 ('5511621997_1', 326),
 ('2002294297_1', 326),
 ('4624382111_3', 325),
 ('4789343708_3', 324),
 ('5059280933', 323),
 ('5114322185', 321),
 ('100127', 320),
 ('4824061918_31', 318),
 ('5071519367_1', 316),
 ('5524387318', 315),
 ('429915183_2', 313),
 ('5177927014', 313),
 ('655923010_1', 312),
 ('4824061918_13', 311),
 ('382422272_1', 311),
 ('3766203680', 311),
 ('4733964360_6', 307),
 ('4747306298_3', 307),
 ('429915183_1', 306),
 ('4353023727_1', 305),
 ('5109058837-10', 305),
 ('4824061918_26', 303),
 ('658389855', 301),
 ('475142362', 300),
 ('5511429772_2', 298),
 ('5511429772_11', 297),
 ('4927024859_7', 297),
 ('4977419343_6', 296),
 ('326506046', 296),
 ('4824061918_14', 295),
 ('4571859898-4', 293),
 ('5299553826_5', 292),
 ('4824061918_5', 290),
 ('100164', 290),
 ('4824061918_8', 286),
 ('5300477025_10', 285),
 ('4568271030_30', 284),
 ('5299553826_2', 284),
 ('4721294064', 282),
 ('4469421245_1', 281),
 ('5521930034_5', 281),
 ('4929464978_1', 280),
 ('5584449703_1', 280),
 ('5563421350_1', 280),
 ('5294687881_12', 279),
 ('5146144585', 278),
 ('5174698349_1', 278),
 ('5511429772_22', 278),
 ('232155349_4', 277),
 ('4861386623_5', 277),
 ('5161418659_22', 277),
 ('5161418659_23', 277),
 ('2194762776_70', 276),
 ('4824189340_7', 275),
 ('4746801371_2', 275),
 ('5511676005', 275),
 ('8809641652409', 274),
 ('4288442391_3', 270),
 ('138632647_11', 269),
 ('485871571_1', 269),
 ('217938162_21', 268),
 ('4733964360_5', 265),
 ('4824061918_29', 265),
 ('2049598779_2', 264),
 ('683576163_1', 264),
 ('228550165', 263),
 ('4603129952', 262),
 ('5481574137-1', 261),
 ('4568271030_31', 261),
 ('289856097', 259),
 ('4824189340_1', 259),
 ('4977419343_7', 258),
 ('2386325988', 256),
 ('4993599720_2', 256),
 ('5526925251_2', 255),
 ('5526940648_5', 255),
 ('4038408297_20', 254),
 ('161523952_4', 254),
 ('4929464978_2', 254),
 ('4648251814_1', 252),
 ('5059337541', 251),
 ('653076522_1', 250),
 ('4527899180_1', 250),
 ('5536425514_1', 249),
 ('5120727656_3', 249),
 ('4977419343_5', 247),
 ('5279251727_4', 246),
 ('4977567534_2', 245),
 ('4852610306', 245),
 ('591880424_1', 245),
 ('550517933_1', 245),
 ('4658433412_4', 244),
 ('5333266211', 244),
 ('5279251727_5', 244),
 ('2992064030', 242),
 ('5463933964', 242),
 ('5315755113_5', 241),
 ('4884978039_2', 240),
 ('5481574137-2', 239),
 ('5279261934_1', 239),
 ('5160221161_1', 238),
 ('657383604_4', 237),
 ('5311703602_7', 236),
 ('2049598779_1', 236),
 ('5165206911', 236),
 ('4886019132', 236),
 ('5582201263_1', 235),
 ('5579849211-2', 234),
 ('3858391637_2', 233),
 ('5440569289_1', 233),
 ('3916955987', 232),
 ('4954027767', 231),
 ('4861386623_7', 231),
 ('4746801371_1', 230),
 ('3040297639-4', 229),
 ('3645014076_1', 229),
 ('5511429772_20', 229),
 ('5006418080_1', 228),
 ('2349268991', 228),
 ('4824061918_10', 228),
 ('121174432_7', 228),
 ('310937345_22', 228),
 ('5377647727_4', 228),
 ('272777305_5', 226),
 ('2708027405-2', 226),
 ('138632647_8', 226),
 ('4461512143_2', 226),
 ('4704270045_4', 225),
 ('4824061918_12', 223),
 ('323809441_4', 223),
 ('4824189340_2', 223),
 ('273205138_4', 222),
 ('4824061918_34', 221),
 ('3589144820', 220),
 ('161520112_1', 220),
 ('4658433412_7', 220),
 ('4150207485_3', 218),
 ('5526932257_4', 218),
 ('346923445_8', 217),
 ('138632647_6', 217),
 ('4721294064_1', 217),
 ('4512239460_1', 215),
 ('5526940648_2', 215),
 ('4607921942_1', 215),
 ('5102599276', 215),
 ('4836262264_1', 215),
 ('5299553826_3', 214),
 ('5598725222_2', 213),
 ('4750452569_3', 212),
 ('2108751235_11', 212),
 ('5002869102', 211),
 ('5526911305_12', 211),
 ('666937964_1', 210),
 ('5584750559', 209),
 ('4916550406-2', 208),
 ('3232170442', 207),
 ('2708027405-3', 206),
 ('5174767996_1', 206),
 ('4852668660', 205),
 ('4469421245_3', 205),
 ('346923445_9', 203),
 ('5458544341', 203),
 ('5579849211-1', 203),
 ('2756258776_14', 202),
 ('4832888276_27', 201),
 ('100165', 200),
 ('4226856802_1', 200),
 ('5492344359', 200),
 ('5162066178', 200),
 ('5526929358_5', 200),
 ('5586028030', 200),
 ('20210521612_1', 200),
 ('121366825_8', 199),
 ('2073834271_1', 198),
 ('310937345_23', 198),
 ('5109058837-13', 198),
 ('4610261043_3', 197),
 ('741582411_4', 196),
 ('5261373376', 196),
 ('310937345_25', 195),
 ('5572125570_1', 195),
 ('4237727898', 194),
 ('4578909088', 194),
 ('8809566172464', 194),
 ('4596961513', 193),
 ('4852981762', 193),
 ('4610261043_2', 193),
 ('161523952_1', 193),
 ('473652953_30', 193),
 ('5451029631_1', 193),
 ('5410073801_1', 193),
 ('5004899381', 193),
 ('4884978039_6', 192),
 ('4607927213_1', 192),
 ('138632647_7', 192),
 ('677756200_2', 191),
 ('5584457113_1', 191),
 ('232147600', 189),
 ('4831819136', 189),
 ('5481682015', 189),
 ('5060359743', 189),
 ('5440573382_6', 189),
 ('5187227890', 188),
 ('5177968934', 188),
 ('5161915845', 188),
 ('5251882070_1', 187),
 ('4861386623_4', 187),
 ('4571859898-10', 187),
 ('4599506698-2', 187),
 ('5548721951', 187),
 ('2542060952', 186),
 ('4733964360_12', 186),
 ('4747306298_2', 186),
 ('5002901815_1', 185),
 ('5002869095', 185),
 ('5190791009', 185),
 ('4831819136_2', 185),
 ('4824061918_19', 184),
 ('4150565479_7', 184),
 ('2108751155_22', 184),
 ('5526925251_8', 184),
 ('677756200_4', 183),
 ('4568271030_21', 182),
 ('438882304', 181),
 ('4861386623_6', 181),
 ('5294687881_14', 181),
 ('639909638_1', 180),
 ('342786711', 180),
 ('17978357418', 180),
 ('4150207485_1', 179),
 ('4861386623_2', 179),
 ('5002206237', 179),
 ('2299569251', 179),
 ('5583653835', 179),
 ('5071695758', 178),
 ('2935066155-1', 178),
 ('5316462744_4', 178),
 ('5247351575_25', 178),
 ('5191203006_2', 177),
 ('4609081354_1', 176),
 ('5529272769', 176),
 ('5511634189', 175),
 ('5349410412_1', 175),
 ('4831944395_1', 175),
 ('5279261934_4', 175),
 ('5521930034_1', 174),
 ('372282409_1', 174),
 ('2073834271_3', 174),
 ('121174437_2', 174),
 ('5002901764_7', 174),
 ('3062434418', 173),
 ('5189334505', 173),
 ('5526921671_3', 173),
 ('4750452569_2', 173),
 ('4255350057', 172),
 ('5598725222_3', 172),
 ('304489410_1', 171),
 ('5174410693', 171),
 ('4733964360_8', 171),
 ('269016643', 170),
 ('4658408144_3', 169),
 ('4597001192', 169),
 ('5187136217', 169),
 ('5279261934_16', 169),
 ('161523952_16', 168),
 ('4824061918_16', 168),
 ('5429973508', 168),
 ('2647965570', 167),
 ('4880838420', 167),
 ('2049598779_3', 167),
 ('5161418659_24', 167),
 ('5536643991_1', 167),
 ('5150754717', 167),
 ('213352164', 165),
 ('4871466287', 165),
 ('5073158768', 165),
 ('4824061918_28', 164),
 ('5201488849', 163),
 ('4596969581', 163),
 ('5256700631', 163),
 ('609945746-2', 163),
 ('5536643991_2', 163),
 ('5329225766_3', 162),
 ('5002300373_5', 162),
 ('4548098900_1', 162),
 ('217938162_25', 162),
 ('5279261934_13', 162),
 ('4935540981_3', 161),
 ('273980189', 161),
 ('5411283162', 161),
 ('4935540981_1', 161),
 ('5165883261', 161),
 ('4416482930', 160),
 ('4663659658_5', 160),
 ('100156', 160),
 ('2049598779_4', 160),
 ('4825890857_2', 160),
 ('5594488673', 160),
 ('273205138_3', 159),
 ('4861386623_1', 159),
 ('5161917826', 159),
 ('2108751235_4', 158),
 ('5002901765_1', 158),
 ('5121269742_34', 157),
 ('4597019110', 157),
 ('5060020637', 157),
 ('5583846795_1', 157),
 ('4658408144', 157),
 ('8412247020017', 156),
 ('2012769996_1', 155),
 ('550518389', 155),
 ('4596980934', 154),
 ('609945746-1', 154),
 ('308108017_6', 154),
 ('4856076508_1', 154),
 ('477611452', 154),
 ('269018094', 153),
 ('4150565479_6', 153),
 ('129588584_2', 153),
 ('5440573382_4', 153),
 ('5002901744_6', 153),
 ('4988594231_2', 152),
 ('655923010_2', 152),
 ('4462417340_11', 152),
 ('2405353024_1', 152),
 ('4733964360_14', 152),
 ('2108751235_12', 152),
 ('5583846795_2', 152),
 ('304489410_3', 151),
 ('5146106676', 151),
 ('4832888276_28', 150),
 ('5102624996', 150),
 ('741582411_1', 150),
 ('161520112_4', 150),
 ('5002901731_7', 150),
 ('473652953_34', 149),
 ('647206289', 149),
 ('2108751155_21', 149),
 ('5240296255', 149),
 ('121174432_9', 149),
 ('5060525620', 148),
 ('5263032221', 148),
 ('5177946157', 147),
 ('4797902065', 147),
 ('4824061918_11', 147),
 ('4610261043_1', 147),
 ('4658408144_6', 147),
 ('4733964360_13', 147),
 ('684682148_2', 147),
 ('4871062189_1', 147),
 ('5109058837-11', 147),
 ('100119', 146),
 ('5542929139', 146),
 ('4943642550_3', 146),
 ('4916550406-1', 146),
 ('4350631940_1', 146),
 ('4934869636_4', 146),
 ('4949663265', 145),
 ('4927024859_5', 145),
 ('5096025878_1', 145),
 ('5538168543', 145),
 ('5410071620', 145),
 ('4733943898_1', 145),
 ('5540816358', 145),
 ('126998938_1', 144),
 ('129588584_3', 144),
 ('4596984914', 144),
 ('3858391637_12', 143),
 ('4959836191_1', 143),
 ('121174426_1', 143),
 ('138632647_9', 143),
 ('5189345654', 142),
 ('572635049_3', 142),
 ('217938162_23', 142),
 ('2992111856_1', 142),
 ('5564742620_1', 142),
 ('5445419413_999', 142),
 ('whole800002', 142),
 ('4955936872_6', 141),
 ('304489410_2', 141),
 ('5410093882', 141),
 ('129588584_1', 141),
 ('683553969', 141),
 ('4578690190', 141),
 ('4911278507_1', 141),
 ('5525829690_5', 141),
 ('8809528221117', 141),
 ('160635645', 140),
 ('269018455', 140),
 ('289851065', 140),
 ('2170322729', 140),
 ('677756200_3', 140),
 ('3858391637_6', 140),
 ('4658408144_11', 140),
 ('5002901731_13', 140),
 ('5186964223', 139),
 ('5189338430', 139),
 ('5121269742_32', 139),
 ('4742637459_3', 139),
 ('288314078', 139),
 ('5236312058', 139),
 ('394795820_2', 139),
 ('5582204221_3', 139),
 ('4226856802_2', 138),
 ('2108751155_23', 138),
 ('5146115002', 137),
 ('2108751155_20', 137),
 ('438888608_4', 137),
 ('5121269742_33', 137),
 ('5526940648_4', 137),
 ('5093981267', 137),
 ('5513683206', 137),
 ('5026881423', 137),
 ('4555804890_4', 136),
 ('2318325982_2', 136),
 ('161523952_6', 136),
 ('5002721456_4', 136),
 ('5121269742_31', 135),
 ('5526929333_1', 135),
 ('5279261934_9', 135),
 ('5187187844_1', 134),
 ('655923010_3', 134),
 ('5582193106_1', 134),
 ('shop0000984', 134),
 ('4955939850_1', 133),
 ('4802177320_10', 133),
 ('2935006439-1', 133),
 ('5507642317_2', 133),
 ('5146385446_12', 132),
 ('4859690883_2', 132),
 ('2382036135', 131),
 ('741582411_2', 131),
 ('5201511981', 130),
 ('5415364567_1', 130),
 ('4541482294', 130),
 ('5526911305_3', 129),
 ('4790583537_4', 129),
 ('5380512480', 129),
 ('4956250368_10', 129),
 ('2709663576', 129),
 ('5383403174', 129),
 ('5507642317_1', 129),
 ('4824061918_27', 128),
 ('4733964360_19', 128),
 ('138632647_13', 128),
 ('4599506698-3', 128),
 ('5238243980', 128),
 ('2876954237_37', 128),
 ('5576760857', 128),
 ('4977419343_9', 128),
 ('5247351575_24', 128),
 ('4836262264_5', 127),
 ('4624377372_1', 127),
 ('126824752', 127),
 ('5435101099_2', 127),
 ('5187182702_1', 127),
 ('3005263200_1', 127),
 ('5586363684_1', 127),
 ('8809566172105', 127),
 ('4930951213', 126),
 ('2541969341', 126),
 ('680232128_1', 126),
 ('160635645_1', 126),
 ('5314651511_1', 126),
 ('4721294064_5', 126),
 ('5539128105_5', 126),
 ('5279261934_11', 126),
 ('308108017_5', 125),
 ('4733964360_20', 125),
 ('4597012481', 125),
 ('4861386623_3', 125),
 ('5489138838_5', 125),
 ('4445307569_3', 124),
 ('639909638_2', 124),
 ('5199395081', 124),
 ('5492336210', 124),
 ('2233727299_1', 123),
 ('167623931', 123),
 ('5094023280', 123),
 ('310937345_21', 123),
 ('5104058856', 122),
 ('666380424', 122),
 ('4493931467_14', 122),
 ('691438017_2', 122),
 ('8809528221414', 122),
 ('5048060197', 121),
 ('5002901765_2', 121),
 ('292433397', 121),
 ('5474223791_1', 121),
 ('5564991972', 121),
 ('5529269906', 121),
 ('4661407817_1', 120),
 ('5184482581_1', 120),
 ('4498764575', 120),
 ('5277059142', 120),
 ('5564913157', 120),
 ('4943642550_1', 119),
 ('5020021755_2', 119),
 ('670280948_1', 119),
 ('5070909310_1', 119),
 ('5265434277', 119),
 ('4956250368_9', 118),
 ('4494428190', 118),
 ('5377647727_2', 118),
 ('5583846795_4', 118),
 ('4648251814_6', 117),
 ('5118445312', 117),
 ('4952974370', 117),
 ('161523952_12', 117),
 ('269018093', 117),
 ('5505568058', 117),
 ('161523952_7', 117),
 ('5279261934_3', 117),
 ('5377468751_4', 117),
 ('655260439_1', 116),
 ('288314073', 116),
 ('5505708296_2', 116),
 ('4733964360_7', 116),
 ('5225113858', 115),
 ('5121269742_49', 115),
 ('4789343708_2', 115),
 ('5553308120', 115),
 ('4663659658_2', 115),
 ('5254521593', 115),
 ('8809528221612', 115),
 ('2318325982_3', 114),
 ('5195138830', 114),
 ('shop0000995', 114),
 ('4827590636', 113),
 ('657383604_5', 113),
 ('4491995660', 113),
 ('5020021755_1', 113),
 ('655045121_3', 113),
 ('4943642550_4', 113),
 ('5582204221_2', 113),
 ('346923445_7', 112),
 ('5174715406', 112),
 ('4781045347_2', 112),
 ('712290198', 112),
 ('5002901788_3', 112),
 ('5050821366', 112),
 ('661422395_1', 112),
 ('shop0000866', 112),
 ('4571859898-9', 111),
 ('4736707465', 111),
 ('5002869126', 111),
 ('5146212149', 111),
 ('4758035156', 111),
 ('2073834271_2', 110),
 ('4494485344', 110),
 ('5201470183_1', 110),
 ('730406364', 110),
 ('323809441_3', 110),
 ('4328210141_8', 110),
 ('5489138838_6', 110),
 ('310937345_24', 110),
 ('5083019441', 110),
 ('5279261934_6', 110),
 ('5511442624', 110),
 ('304489410_4', 109),
 ('372285564', 109),
 ('4811533715', 109),
 ('5150527260', 109),
 ('5109058837-12', 109),
 ('4038425402_1', 108),
 ('4493931467_11', 108),
 ('4832693161-1', 108),
 ('4828782629', 108),
 ('body800001', 108),
 ('4883147496', 107),
 ('148221679', 107),
 ('3858391637_11', 107),
 ('4824061918_9', 107),
 ('4462417340_10', 107),
 ('4493931467_12', 107),
 ('3005263200_2', 107),
 ('161523952_13', 107),
 ('4789343708_1', 107),
 ('5294687881_15', 107),
 ('5539128105_8', 107),
 ('655260471_1', 106),
 ('5383403174_1', 106),
 ('4328210141_7', 106),
 ('2935066155-2', 106),
 ('2542069072_2', 106),
 ('269018095', 106),
 ('5214854729', 106),
 ('3916935832', 106),

In [126]:
item_fc5_df=pd.DataFrame(sorted_items_5)

In [127]:
item_fc5_df.head(50)

                0     1
0    4658408144_1  9101
1     232155349_1  6801
2      4905164407  3403
3    5120727656_1  3342
4    5584261925_1  2684
5      5404706313  2639
6      5184904828  2573
7    4802177320_2  2509
8      2475138283  2482
9     598604962-3  2451
10   4810960248-1  2279
11   5569305322_7  2110
12   4733964360_1  2087
13    232155349_5  2081
14   5569305322_2  2077
15    414687646_1  2036
16   5002901764_2  1920
17  4658408144_10  1859
18    598604962-1  1823
19   5569305322_1  1821
20   4825890857_1  1782
21   4658408144_4  1736
22     4884983927  1633
23   5569305322_9  1536
24   5002901764_1  1526
25    657383604_1  1516
26   4977419343_1  1482
27      658479403  1427
28     3667604580  1381
29   3040297639-1  1360
30   4571859898-1  1359
31   5584460073_1  1355
32    121174432_8  1349
33     5161458796  1322
34   5569305322_4  1315
35   5521930034_2  1311
36    598604962-4  1268
37   4624382111_1  1259
38   5569305322_8  1258
39    438888608_1  1221
40   4802177320_4  1193
41    121174437_6  1157
42     5187009879  1140
43   4802177320_1  1116
44     5502891636  1093
45   4802214590_1  1091
46   4802177320_9  1066
47     5048342552  1023
48   4802214590_8  1015
49   4831819136_1  1014

**6월달 품목별 수요량 정렬**

In [125]:
items_count = {}
for item in fc6_df['ITEM_CD']:
    if item in items_count:
        items_count[item] +=1
    else:
        items_count[item]=1

sorted_items_6 = sorted([(k,v) for k,v in items_count.items()], key=lambda items_count: -items_count[1])        
item_fc6_df=pd.DataFrame(sorted_items_6)

In [122]:
item_fc6_df.head(50)

                0     1
0     232155349_1  5262
1   8809528221414  4706
2   8809528221117  4560
3    5299553826_1  4499
4   8809641652409  4199
5      5184904828  3545
6      4905164407  3134
7      3681859516  3093
8   8809528221605  3011
9    4658408144_1  2838
10     4929712168  2663
11  5569305322_11  2613
12   5609144630_4  2612
13  5569305322_10  2597
14  4658408144_14  2576
15   5569305322_7  2346
16     2475138283  2283
17   4904383364_2  2265
18  8809566172464  2262
19  8809528220516  2221
20  8809528221612  2173
21  8809528220417  2125
22  8809528220646  2123
23     4884983927  2070
24      SET600028  2023
25    shop0001160  1971
26  8809566172327  1967
27    232155349_5  1940
28     5404706313  1931
29   4810960248-1  1761
30    598604962-3  1734
31   4802177320_2  1720
32   5569305322_2  1715
33     5586028030  1712
34    414687646_1  1701
35   4733964360_1  1653
36  8809528220622  1626
37    shop0000866  1619
38    shop0000984  1611
39     2055189125  1608
40  8809566171009  1596
41     body800001  1568
42   4802177320_4  1537
43  8809528221551  1528
44    235959832_1  1477
45     3452165309  1443
46   3040297639-1  1429
47   4904383364_3  1419
48   4461512143_2  1405
49  8809528221599  1394

**전체 날짜별 품목 정렬**

In [114]:
allFC_df = pd.concat([fc3_df,fc4_df, fc5_df, fc6_df])

In [115]:
allFC_df.to_csv("allFC_df.csv")

In [123]:
items_count = {}
for item in allFC_df['ITEM_CD']:
    if item in items_count:
        items_count[item] +=1
    else:
        items_count[item]=1

sorted_items_all = sorted([(k,v) for k,v in items_count.items()], key=lambda items_count: -items_count[1])        
item_fcall_df=pd.DataFrame(sorted_items_all)

In [ ]:
item_fcall_df.head(50)

- 여기까지가 날짜별 분류 -

In [44]:
allFC_df.drop(['REF_ORD_NO'],axis=1, inplace=True)#원본 데이터에서 날린거임!

3-3) BKG_NO는 대한통운 주문번호 (예약번호)이고 솔직히 다 필요없다고 생각해서 아예 column 전체를 날렸다.

In [45]:
allFC_df.drop(['BKG_NO'],axis=1, inplace=True)

In [46]:
allFC_df

,CORP_ID,BKG_TYP,BKG_DATE,BKG_TIME,SHPR_CD,INV_AMT,ITEM_SEQ,ITEM_CD,BRAND_NM,ITEM_QTY,...,DLVSUBCLSFCD,INS_ID,INS_DATE,INS_TIME,POST_ZONE,SPLIT_EXEC_YN,SHPR_ADDR_1,SHPR_ADDR_2,CNEE_ADDR_1,CNEE_ADDR_2
0,0,7,20210303,35510,90001302,22400.0,2,134265392,단일상품,1,...,1,iNEXBatch,20210303,131425,3.0,N,세종특별자치시,NaN,서울특별시,서대문구
1,0,7,20210303,35521,90001441,20900.0,1,4610261043_2,조합형옵션상품,1,...,4,iNEXBatch,20210303,131425,50.0,N,경기도,광주시,경상남도,김해시
2,0,7,20210303,35513,90001441,37900.0,1,4936599538_1,조합형옵션상품,1,...,0,iNEXBatch,20210303,131425,53.0,N,경기도,광주시,경상남도,거제시
3,0,7,20210303,35608,90001542,69800.0,1,3858391637_1,조합형옵션상품,1,...,1,iNEXBatch,20210303,131425,6.0,N,경기도,광주시,서울특별시,서초구
4,0,7,20210303,35551,90001341,73700.0,1,4631307460,단일상품,1,...,1,iNEXBatch,20210303,131425,10.0,N,경기도,광주시,경기도,김포시
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
676907,1,7,20210628,91210,90001772,NaN,16,00281,NaN,100,...,1,osulloc01,20210628,91210,10.0,N,경기도,군포시,경기도,NaN
676908,1,7,20210628,91210,90001772,NaN,17,00316,NaN,168,...,1,osulloc01,20210628,91210,10.0,N,경기도,군포시,경기도,NaN
676909,1,7,20210628,91210,90001772,NaN,18,00338,NaN,100,...,1,osulloc01,20210628,91210,10.0,N,경기도,군포시,경기도,NaN
676910,1,7,20210628,91210,90001772,NaN,19,00183,NaN,50,...,1,osulloc01,20210628,91210,10.0,N,경기도,군포시,경기도,NaN
676911,1,7,20210628,91210,90001772,NaN,20,8809641651310,NaN,100,...,1,osulloc01,20210628,91210,10.0,N,경기도,군포시,경기도,NaN

3-4) 아무래도 날려야할게 너무 많이 보여서 한 번에 날리기로 결심했다,,
- SHPR_CD : 고객사 코드
- ITEM_CD : 품목순번
- BRAND_NM : 품목명 (판매자가 설정해놓는 것이라고 한다. 품목의 종류를 확인하기 어렵다...)

In [47]:
allFC_df.drop(['SHPR_CD','ITEM_CD','BRAND_NM'],axis=1, inplace=True)

In [48]:
print(allFC_df)

       CORP_ID  BKG_TYP  BKG_DATE  BKG_TIME  INV_AMT  ITEM_SEQ  ITEM_QTY  \
0            0        7  20210303     35510  22400.0         2         1
1            0        7  20210303     35521  20900.0         1         1
2            0        7  20210303     35513  37900.0         1         1
3            0        7  20210303     35608  69800.0         1         1
4            0        7  20210303     35551  73700.0         1         1
...        ...      ...       ...       ...      ...       ...       ...
676907       1        7  20210628     91210      NaN        16       100
676908       1        7  20210628     91210      NaN        17       168
676909       1        7  20210628     91210      NaN        18       100
676910       1        7  20210628     91210      NaN        19        50
676911       1        7  20210628     91210      NaN        20       100

        ITEM_AMT IF_YN  ORDER_CRT_DATETIME  ...  DLVSUBCLSFCD     INS_ID  \
0        14900.0     N        2.021030e+13  ...             1  iNEXBatch
1        20900.0     N        2.021030e+13  ...             4  iNEXBatch
2        37900.0     N        2.021030e+13  ...             0  iNEXBatch
3        69800.0     N        2.021030e+13  ...             1  iNEXBatch
4        39800.0     N        2.021030e+13  ...             1  iNEXBatch
...          ...   ...                 ...  ...           ...        ...
676907       NaN     N                 NaN  ...             1  osulloc01
676908       NaN     N                 NaN  ...             1  osulloc01
676909       NaN     N                 NaN  ...             1  osulloc01
676910       NaN     N                 NaN  ...             1  osulloc01
676911       NaN     N                 NaN  ...             1  osulloc01

        INS_DATE INS_TIME POST_ZONE SPLIT_EXEC_YN SHPR_ADDR_1 SHPR_ADDR_2  \
0       20210303   131425       3.0             N     세종특별자치시         NaN
1       20210303   131425      50.0             N         경기도         광주시
2       20210303   131425      53.0             N         경기도         광주시
3       20210303   131425       6.0             N         경기도         광주시
4       20210303   131425      10.0             N         경기도         광주시
...          ...      ...       ...           ...         ...         ...
676907  20210628    91210      10.0             N         경기도         군포시
676908  20210628    91210      10.0             N         경기도         군포시
676909  20210628    91210      10.0             N         경기도         군포시
676910  20210628    91210      10.0             N         경기도         군포시
676911  20210628    91210      10.0             N         경기도         군포시

       CNEE_ADDR_1  CNEE_ADDR_2
0            서울특별시         서대문구
1             경상남도          김해시
2             경상남도          거제시
3            서울특별시          서초구
4              경기도          김포시
...            ...          ...
676907         경기도          NaN
676908         경기도          NaN
676909         경기도          NaN
676910         경기도          NaN
676911         경기도          NaN

[1786374 rows x 27 columns]

3-5) 계속 날리는데 사실 이 화면에 모든 column 항목들이 안떠서 계속 삭제하고 보고 ,, 하는 중이다. ㅋㅋㅋ
- IF_YN : 수신 여부를 확인하는 것인데 N이면 수신이 되지 않았다는 거임,,,? 어쨌든 일단은 날리고.. (뭔가 불안하니깐 inplace=False로 맞추겠음.)
- ORDER_CRT_DATETIME : 주문생성시간인데 이거 딱봐도 앞의 주문 날짜 + 주문시간한 거 합친 데이터임,, 왜 넣어놨냐고 용량아깝게;
.. 뒤에부터도 같이 삭제해야지.. 마지막 4열들은 위치 값들이니 살려놓고 
- SPLIT_EXEC_YN : 배송처별 주문분할 여부,,,,, 이거는 친구들과 함께 이야기해보구
- POST_ZONE : 권역구분 : 이것도 마찬가지,, 근데 숫자로 표시되어있네 신기하네
- INS 시리즈는 다 날린다,, 전부 입력자ID, 입력일자, 입력시간이고 아직 의미있는지 모르겠음..   
일단 이렇게만!

In [49]:
allFC_df.drop(['IF_YN','ORDER_CRT_DATETIME','INS_ID','INS_DATE','INS_TIME'],axis =1, inplace = True)

In [50]:
print(allFC_df)

       CORP_ID  BKG_TYP  BKG_DATE  BKG_TIME  INV_AMT  ITEM_SEQ  ITEM_QTY  \
0            0        7  20210303     35510  22400.0         2         1
1            0        7  20210303     35521  20900.0         1         1
2            0        7  20210303     35513  37900.0         1         1
3            0        7  20210303     35608  69800.0         1         1
4            0        7  20210303     35551  73700.0         1         1
...        ...      ...       ...       ...      ...       ...       ...
676907       1        7  20210628     91210      NaN        16       100
676908       1        7  20210628     91210      NaN        17       168
676909       1        7  20210628     91210      NaN        18       100
676910       1        7  20210628     91210      NaN        19        50
676911       1        7  20210628     91210      NaN        20       100

        ITEM_AMT  DLV_DV      REF_ITEM_SEQ  ... DLVPREARRBRANCD  \
0        14900.0     1.0  2021030323885041  ...            7484
1        20900.0     1.0  2021030323885721  ...            6427
2        37900.0     1.0  2021030323887981  ...            6158
3        69800.0     1.0  2021030323895281  ...            8909
4        39800.0     1.0  2021030323897651  ...            2777
...          ...     ...               ...  ...             ...
676907       NaN     1.0             00281  ...            8981
676908       NaN     1.0             00316  ...            8981
676909       NaN     1.0             00338  ...            8981
676910       NaN     1.0             00183  ...            8981
676911       NaN     1.0     8809641651310  ...            8981

       DLVPREARREMPNICKNM DLVCLSFCD DLVSUBCLSFCD POST_ZONE SPLIT_EXEC_YN  \
0                     C06      5Z73            1       3.0             N
1                     M09      6R67            4      50.0             N
2                     L32      9Y25            0      53.0             N
3                     D21      1N65            1       6.0             N
4                     R15      3D84            1      10.0             N
...                   ...       ...          ...       ...           ...
676907                NaN      5F20            1      10.0             N
676908                NaN      5F20            1      10.0             N
676909                NaN      5F20            1      10.0             N
676910                NaN      5F20            1      10.0             N
676911                NaN      5F20            1      10.0             N

        SHPR_ADDR_1 SHPR_ADDR_2 CNEE_ADDR_1 CNEE_ADDR_2
0           세종특별자치시         NaN       서울특별시        서대문구
1               경기도         광주시        경상남도         김해시
2               경기도         광주시        경상남도         거제시
3               경기도         광주시       서울특별시         서초구
4               경기도         광주시         경기도         김포시
...             ...         ...         ...         ...
676907          경기도         군포시         경기도         NaN
676908          경기도         군포시         경기도         NaN
676909          경기도         군포시         경기도         NaN
676910          경기도         군포시         경기도         NaN
676911          경기도         군포시         경기도         NaN

[1786374 rows x 22 columns]

In [51]:
allFC_df.head(3)

,CORP_ID,BKG_TYP,BKG_DATE,BKG_TIME,INV_AMT,ITEM_SEQ,ITEM_QTY,ITEM_AMT,DLV_DV,REF_ITEM_SEQ,...,DLVPREARRBRANCD,DLVPREARREMPNICKNM,DLVCLSFCD,DLVSUBCLSFCD,POST_ZONE,SPLIT_EXEC_YN,SHPR_ADDR_1,SHPR_ADDR_2,CNEE_ADDR_1,CNEE_ADDR_2
0,0,7,20210303,35510,22400.0,2,1,14900.0,1.0,2021030323885041,...,7484,C06,5Z73,1,3.0,N,세종특별자치시,NaN,서울특별시,서대문구
1,0,7,20210303,35521,20900.0,1,1,20900.0,1.0,2021030323885721,...,6427,M09,6R67,4,50.0,N,경기도,광주시,경상남도,김해시
2,0,7,20210303,35513,37900.0,1,1,37900.0,1.0,2021030323887981,...,6158,L32,9Y25,0,53.0,N,경기도,광주시,경상남도,거제시

아씨 칼럼 지워도 지워도 계속 많다.. 내일 할래,,,,,,

3-6) 마지막 날리기가 될 듯 싶다!   
- DLV_DV : 택배 구분인데 왜 float 값으로 저렇게 나와있지??
일단 지울 거는 
- ORDER_IDX : 중개업체 주문번호
- ORDER_YN : 접수여부

- DLVPREARREMPNICKNM : 배달예정사원 분류코드가 필요할까?? 일단은 지워보겠다,,

In [52]:
allFC_df= allFC_df.drop(['ORDER_IDX','ORDER_YN','DLVPREARREMPNICKNM'],axis =1, inplace = False)

In [53]:
allFC_df.head(10)

,CORP_ID,BKG_TYP,BKG_DATE,BKG_TIME,INV_AMT,ITEM_SEQ,ITEM_QTY,ITEM_AMT,DLV_DV,REF_ITEM_SEQ,DLVPREARRBRANCD,DLVCLSFCD,DLVSUBCLSFCD,POST_ZONE,SPLIT_EXEC_YN,SHPR_ADDR_1,SHPR_ADDR_2,CNEE_ADDR_1,CNEE_ADDR_2
0,0,7,20210303,35510,22400.0,2,1,14900.0,1.0,2021030323885041,7484,5Z73,1,3.0,N,세종특별자치시,NaN,서울특별시,서대문구
1,0,7,20210303,35521,20900.0,1,1,20900.0,1.0,2021030323885721,6427,6R67,4,50.0,N,경기도,광주시,경상남도,김해시
2,0,7,20210303,35513,37900.0,1,1,37900.0,1.0,2021030323887981,6158,9Y25,0,53.0,N,경기도,광주시,경상남도,거제시
3,0,7,20210303,35608,69800.0,1,1,69800.0,1.0,2021030323895281,8909,1N65,1,6.0,N,경기도,광주시,서울특별시,서초구
4,0,7,20210303,35551,73700.0,1,1,39800.0,1.0,2021030323897651,2777,3D84,1,10.0,N,경기도,광주시,경기도,김포시
5,0,7,20210303,35551,73700.0,2,1,15900.0,1.0,2021030323897661,2777,3D84,1,10.0,N,경기도,광주시,경기도,김포시
6,0,7,20210303,35551,73700.0,3,1,18000.0,1.0,2021030323897691,2777,3D84,1,10.0,N,경기도,광주시,경기도,김포시
7,0,7,20210303,35538,14900.0,1,1,14900.0,1.0,2021030323903491,M54T,6N20,1p,47.0,N,세종특별자치시,NaN,부산광역시,연제구
8,0,7,20210303,35732,19800.0,1,1,19800.0,1.0,2021030323904521,6174,6R67,1,50.0,N,경기도,광주시,경상남도,김해시
9,0,7,20210303,35557,37900.0,1,1,37900.0,1.0,2021030323912641,8777,2U45,2,4.0,N,경기도,광주시,서울특별시,성동구


오 근데 INV_AMT: 주문금액에 대해서 마지막 row 쪽 값이 Nan값이 있고 이를 버려야 함!
#### 3-7) 결손 데이터 처리하기 
-> isna(): NaN여부를 확인하는 API   
-> fillna() : NaN값을 다른 값으로 대체쓰면 됨

In [54]:
allFC_df.isna()

,CORP_ID,BKG_TYP,BKG_DATE,BKG_TIME,INV_AMT,ITEM_SEQ,ITEM_QTY,ITEM_AMT,DLV_DV,REF_ITEM_SEQ,DLVPREARRBRANCD,DLVCLSFCD,DLVSUBCLSFCD,POST_ZONE,SPLIT_EXEC_YN,SHPR_ADDR_1,SHPR_ADDR_2,CNEE_ADDR_1,CNEE_ADDR_2
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
676907,False,False,False,False,True,False,False,True,False,False,False,False,False,False,False,False,False,False,True
676908,False,False,False,False,True,False,False,True,False,False,False,False,False,False,False,False,False,False,True
676909,False,False,False,False,True,False,False,True,False,False,False,False,False,False,False,False,False,False,True
676910,False,False,False,False,True,False,False,True,False,False,False,False,False,False,False,False,False,False,True
676911,False,False,False,False,True,False,False,True,False,False,False,False,False,False,False,False,False,False,True

True값은 NaN 값이 있다는 뜻.

In [55]:
allFC_df.isna().sum() #칼럼별 NaN값 개수 확인 꺄악 다시 돌려버려서 다 0됨..ㅠㅠ

CORP_ID                 0
BKG_TYP                 0
BKG_DATE                0
BKG_TIME                0
INV_AMT             28011
ITEM_SEQ                0
ITEM_QTY                0
ITEM_AMT            18730
DLV_DV               1043
REF_ITEM_SEQ         1000
DLVPREARRBRANCD      1043
DLVCLSFCD            1043
DLVSUBCLSFCD         1150
POST_ZONE            1043
SPLIT_EXEC_YN           0
SHPR_ADDR_1             0
SHPR_ADDR_2        109251
CNEE_ADDR_1            35
CNEE_ADDR_2         35977
dtype: int64

In [56]:
allFC_df=allFC_df.dropna() #결손 데이터를 다 날리는건데,, 흐음 이게 맞을까 
#이시ㅜ키 돌리고 돌렸어ㅠㅠ

In [57]:
allFC_df.isna().sum() #이럼 다시 볼 필요없잖아

CORP_ID            0
BKG_TYP            0
BKG_DATE           0
BKG_TIME           0
INV_AMT            0
ITEM_SEQ           0
ITEM_QTY           0
ITEM_AMT           0
DLV_DV             0
REF_ITEM_SEQ       0
DLVPREARRBRANCD    0
DLVCLSFCD          0
DLVSUBCLSFCD       0
POST_ZONE          0
SPLIT_EXEC_YN      0
SHPR_ADDR_1        0
SHPR_ADDR_2        0
CNEE_ADDR_1        0
CNEE_ADDR_2        0
dtype: int64

INV_AMT, ITEM_AMT, DLV_DV, REF_ITEM_SEQ, DLVPREARRBRANCD, DLVCLSFCD, DLVSUBCLSFCD, POST_ZONE, SHPR_ADDR_2, CNEE_ADDR_1, CNEE_ADDR_2 : True 값이 있음 (즉 NaN값이 존재하고 이를 날려버림)

*allFC_df의 NaN값을 다 지워버렸는데 이 NaN값을 채워야함 -> 보통 평균값으로 채우는데,, 각 칼럼별로 dtype을 보면서 해야할 것 같으니 일단,,흐음 일단 해본다.*   
dtype 별로 구분!
- float64 : INV_AMT(주문금액), ITEM_AMT(품목금액), DLV_DV(택배구분), POST_ZONE(권역구분)
- object : REF_ITEM_SEQ(상품주문번호)-> 이거 왜 안날림;;하핳 다시 돌리기 지겨운데ㅠ, DLVPREARRBRANCD(배달예정점소코드), DLVCLSFCD(배달터미널코드), SHPR_ADDR_2(송화인 주소2), CNEE_ADDR_1(수화인 주소1), CNEE_ADDR_2(수화인 주소2)

float64 애들은 일단 택배구분이랑 권역구분 빼고는 fillna() 로 평균값으로 맞춰놔도 될 듯 싶음!
object 쪽 결손데이터는 어떻게 해야하징,,

## 이거 아직 안끝냄!

In [58]:
allFC_df['INV_AMT'].fillna(allFC_df['INV_AMT'].mean())

1          20900.0
2          37900.0
3          69800.0
4          73700.0
5          73700.0
            ...
676885     16900.0
676886    138000.0
676887     13900.0
676891     77000.0
676892    125800.0
Name: INV_AMT, Length: 1635018, dtype: float64

In [59]:


allFC_df['ITEM_AMT'].fillna(allFC_df['ITEM_AMT'].mean())

1          20900.0
2          37900.0
3          69800.0
4          39800.0
5          15900.0
            ...
676885     16900.0
676886    138000.0
676887     13900.0
676891     77000.0
676892    125800.0
Name: ITEM_AMT, Length: 1635018, dtype: float64


CORP_ID : dtype = object 인데 일단 이걸 int로 바꿔보기

In [60]:
allFC_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1635018 entries, 1 to 676892
Data columns (total 19 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   CORP_ID          1635018 non-null  object
 1   BKG_TYP          1635018 non-null  int64
 2   BKG_DATE         1635018 non-null  int64
 3   BKG_TIME         1635018 non-null  int64
 4   INV_AMT          1635018 non-null  float64
 5   ITEM_SEQ         1635018 non-null  int64
 6   ITEM_QTY         1635018 non-null  int64
 7   ITEM_AMT         1635018 non-null  float64
 8   DLV_DV           1635018 non-null  float64
 9   REF_ITEM_SEQ     1635018 non-null  object
 10  DLVPREARRBRANCD  1635018 non-null  object
 11  DLVCLSFCD        1635018 non-null  object
 12  DLVSUBCLSFCD     1635018 non-null  object
 13  POST_ZONE        1635018 non-null  float64
 14  SPLIT_EXEC_YN    1635018 non-null  object
 15  SHPR_ADDR_1      1635018 non-null  object
 16  SHPR_ADDR_2      1635018 non-null  object
 17  CNEE_ADDR_1      1635018 non-null  object
 18  CNEE_ADDR_2      1635018 non-null  object
dtypes: float64(4), int64(5), object(10)
memory usage: 249.5+ MB

In [61]:
allFC_df.astype({'CORP_ID':'int64'}).dtypes#으아 오버플로우 에러 뜸..멍청이었음 칼럼지정안함 당연히 오버플로 뜨지

CORP_ID              int64
BKG_TYP              int64
BKG_DATE             int64
BKG_TIME             int64
INV_AMT            float64
ITEM_SEQ             int64
ITEM_QTY             int64
ITEM_AMT           float64
DLV_DV             float64
REF_ITEM_SEQ        object
DLVPREARRBRANCD     object
DLVCLSFCD           object
DLVSUBCLSFCD        object
POST_ZONE          float64
SPLIT_EXEC_YN       object
SHPR_ADDR_1         object
SHPR_ADDR_2         object
CNEE_ADDR_1         object
CNEE_ADDR_2         object
dtype: object

일단 칼럼별 정리는 끝냈고! 여러 함수들을 적용하면서 데이터가 어떻게 분포되어있는지 파악한 뒤 FC별 수요량을 확인해보겠음!

- CORP_ID 는 곤지암을 0, 군포를 1로 바꾸었다. 대략 어디에 상품이 더 많을지(..이런식으로 말을 해도 될까 싶지만!) 확인해보려면 평균값을 알아본다.   
근데 생각보다 너무 오래걸리는데? 왜지...

CORP_ID 를 기준으로 데이터를 분류할 것이므로 내가 모든 값을 잘 바꾼건지 확인을 datatype을 통해 확인했다. (object -> int32로 바뀌었음을 확인할 수 있음.)

### 4. FC별 상품 수요량 파악하기

4-1) groupby() 적용 -> CORP_ID 기준으로!

In [63]:
allFC_df['day'] = allFC_df['BKG_DATE'].apply(lambda x:'BKG_DATE'
allFC_df['month'] = allFC_df['BKG_DATE']

곤지암 : 1542726 
군포 : 92292
만큼의 상품품목들이 존재.
이

In [ ]:
allFC_df_groupby()